KeystoneDemo/ksWebServices/Service References/srKeystoneInstancePortalService/Incite.DTO.Display.Properties.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Incite.DTO.Display.Properties" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Incite.DTO.Display.Properties" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Incite.DTO" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Incite.Keystone" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Incite.DTO.Display.Properties.Configuration" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Incite.DTO.FormProperty_DTOs" />
  <xs:complexType name="ArrayOfFormPropertyBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FormPropertyBase" nillable="true" type="tns:FormPropertyBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFormPropertyBase" nillable="true" type="tns:ArrayOfFormPropertyBase" />
  <xs:complexType name="FormPropertyBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="ArchiveFolderStructure" type="xs:boolean" />
      <xs:element minOccurs="0" name="ArchiveFolderStructureSortSequence" type="xs:int" />
      <xs:element minOccurs="0" name="AutoFillModifiable" type="xs:boolean" />
      <xs:element minOccurs="0" name="AutoFillOut" type="xs:boolean" />
      <xs:element minOccurs="0" name="AutoFillOutSearch" type="xs:boolean" />
      <xs:element minOccurs="0" name="CopyValueFromFirst" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CopyValueToAllSelected" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CumulativeRecipients" type="xs:boolean" />
      <xs:element minOccurs="0" name="DefaultValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetailedOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="DisplayAttributes" nillable="true" type="tns:DisplayAttributes" />
      <xs:element minOccurs="0" name="DocumentLink" type="xs:boolean" />
      <xs:element minOccurs="0" name="DocumentLinkSortSequence" type="xs:int" />
      <xs:element minOccurs="0" name="Editable" type="xs:boolean" />
      <xs:element minOccurs="0" name="EditableInSummary" type="xs:boolean" />
      <xs:element minOccurs="0" name="EditableViaApi" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExistenceChkEnabledCreate" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExistenceChkEnabledUpdate" type="xs:boolean" />
      <xs:element minOccurs="0" name="FormId" type="xs:long" />
      <xs:element minOccurs="0" name="FormPropertyId" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="FormPropertyLinkList" nillable="true" type="q1:ArrayOfFormPropertyLinkDTO" />
      <xs:element minOccurs="0" name="FormPropertyTypeId" type="xs:long" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="FormViewAttributes" nillable="true" type="q2:FormPropertyViewAttributes" />
      <xs:element minOccurs="0" name="HidePropertyName" type="xs:boolean" />
      <xs:element minOccurs="0" name="Import" type="xs:boolean" />
      <xs:element minOccurs="0" name="ImportSequence" type="xs:short" />
      <xs:element minOccurs="0" name="IncludeInFilterCriteria" type="xs:boolean" />
      <xs:element minOccurs="0" name="IncludeInQuickSearch" type="xs:boolean" />
      <xs:element minOccurs="0" name="IndivValuesForEachFile" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsMessageSubjectField" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsMultiSelect" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRequiredButInDetailView" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSetByFileNameConvention" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSort" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSortAscending" type="xs:boolean" />
      <xs:element minOccurs="0" name="MappingFieldOccurence" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageSubjectSequence" type="xs:short" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreviewDetailedOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="PreviewSortSequence" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="PreviewViewAttributes" nillable="true" type="q3:FormPropertyViewAttributes" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Incite.Keystone" minOccurs="0" name="PropertyType" type="q4:PropertyTypes" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="ReportMultipleValuesSplitByMode" type="q5:ReportMultipleValuesSplitBy" />
      <xs:element minOccurs="0" name="Required" type="xs:boolean" />
      <xs:element minOccurs="0" name="RestrictionSyntax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderValidationEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
      <xs:element minOccurs="0" name="SortSequence" type="xs:short" />
      <xs:element minOccurs="0" name="SortViewSequence" type="xs:int" />
      <xs:element minOccurs="0" name="SubsequentValues" type="xs:boolean" />
      <xs:element minOccurs="0" name="SummaryViewSortSequence" type="xs:int" />
      <xs:element minOccurs="0" name="UniqueIdentificationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unused" type="xs:boolean" />
      <xs:element minOccurs="0" name="UseValuesFromProperty" type="xs:long" />
      <xs:element minOccurs="0" name="ValueTakenFromName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValuesTakenFrom" nillable="true" type="xs:long" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="ViewAttributes" nillable="true" type="q6:FormPropertyViewAttributes" />
      <xs:element minOccurs="0" name="Views" type="tns:PropertyViewTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormPropertyBase" nillable="true" type="tns:FormPropertyBase" />
  <xs:complexType name="DisplayAttributes">
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="Align" type="q7:AlignMode" />
      <xs:element minOccurs="0" name="Bold" type="xs:boolean" />
      <xs:element minOccurs="0" name="CharWidth" type="xs:int" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="GroupingMode" nillable="true" type="q8:GroupingMode" />
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="MaxLength" nillable="true" type="xs:int" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="MemberPropertyDisplayMode" nillable="true" type="q9:MemberPropertyDisplayMode" />
      <xs:element minOccurs="0" name="PixelWidth" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DisplayAttributes" nillable="true" type="tns:DisplayAttributes" />
  <xs:simpleType name="PropertyViewTypes">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Default">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Summary">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Preview">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Search">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Sort">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Filter">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="PropertyViewTypes" nillable="true" type="tns:PropertyViewTypes" />
  <xs:complexType name="FormPropertyComputation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropertyNumericBase">
        <xs:sequence>
          <xs:element name="_x003C_Formula_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_NumberOfDecimalPlaces_x003E_k__BackingField" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropertyComputation" nillable="true" type="tns:FormPropertyComputation" />
  <xs:complexType name="FormPropertyNumericBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropertyBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="DisplayWithCommaSeparator" type="xs:boolean" />
          <xs:element minOccurs="0" name="Prefix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropertyNumericBase" nillable="true" type="tns:FormPropertyNumericBase" />
  <xs:complexType name="FormPropertyCompany">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropertyListBase">
        <xs:sequence>
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Incite.DTO.Display.Properties.Configuration" minOccurs="0" name="Configuration" nillable="true" type="q10:FormPropertyCompanyConfiguration" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropertyCompany" nillable="true" type="tns:FormPropertyCompany" />
  <xs:complexType name="FormPropertyListBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropertyBase">
        <xs:sequence>
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="AllValues" nillable="true" type="q11:ArrayOfOptionDataListItem" />
          <xs:element minOccurs="0" name="DependsOnPropertyId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="IsDependant" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsMultiSelection" type="xs:boolean" />
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="UnrestrictedSelectableValues" nillable="true" type="q12:ArrayOfLIVWP" />
          <xs:element minOccurs="0" name="UsingSequence" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropertyListBase" nillable="true" type="tns:FormPropertyListBase" />
  <xs:complexType name="FormPropertyConcatenation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropertyBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Formula" nillable="true" type="xs:string" />
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="SortOrder" type="q13:SortOrder" />
          <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="ValueDisplayMode" type="q14:ValueDisplayMode" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropertyConcatenation" nillable="true" type="tns:FormPropertyConcatenation" />
  <xs:complexType name="FormPropertyCounter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropertyNumericBase">
        <xs:sequence>
          <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Incite.DTO.Display.Properties.Configuration" minOccurs="0" name="Configuration" nillable="true" type="q15:FormPropertyCounterConfiguration" />
          <xs:element minOccurs="0" name="NumberOfDigits" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropertyCounter" nillable="true" type="tns:FormPropertyCounter" />
  <xs:complexType name="FormPropertyCumulative">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropertyBase">
        <xs:sequence>
          <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="Dependencies" nillable="true" type="q16:ArrayOfvProjectFormPropertyDependencyDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropertyCumulative" nillable="true" type="tns:FormPropertyCumulative" />
  <xs:complexType name="FormPropertyDate">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropertyDateTimeBase">
        <xs:sequence>
          <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Incite.DTO.Display.Properties.Configuration" minOccurs="0" name="Configuration" nillable="true" type="q17:FormPropertyDateConfiguration" />
          <xs:element minOccurs="0" name="CopySendDateFromMessage" type="xs:boolean" />
          <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="IconsDisplayMode" type="q18:IconDisplayMode" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropertyDate" nillable="true" type="tns:FormPropertyDate" />
  <xs:complexType name="FormPropertyDateTimeBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropertyBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CurrentByDefault" type="xs:boolean" />
          <xs:element minOccurs="0" name="Format" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropertyDateTimeBase" nillable="true" type="tns:FormPropertyDateTimeBase" />
  <xs:complexType name="FormPropertyDateTime">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropertyDateTimeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CopySendDateFromMessage" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropertyDateTime" nillable="true" type="tns:FormPropertyDateTime" />
  <xs:complexType name="FormPropertyFile">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropertyBase">
        <xs:sequence>
          <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Incite.DTO.Display.Properties.Configuration" minOccurs="0" name="Configuration" nillable="true" type="q19:FormPropertyFileConfiguration" />
          <xs:element minOccurs="0" name="FilterSearchFileContents" type="xs:boolean" />
          <xs:element minOccurs="0" name="FilterSearchFileName" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsMultiSelection" type="xs:boolean" />
          <xs:element minOccurs="0" name="QuickSearchFileContents" type="xs:boolean" />
          <xs:element minOccurs="0" name="QuickSearchFileName" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropertyFile" nillable="true" type="tns:FormPropertyFile" />
  <xs:complexType name="FormPropertyFloat">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropertyNumericBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="NumberOfDecimalPlaces" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropertyFloat" nillable="true" type="tns:FormPropertyFloat" />
  <xs:complexType name="FormPropertyFormLink">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropertyLinkBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropertyFormLink" nillable="true" type="tns:FormPropertyFormLink" />
  <xs:complexType name="FormPropertyLinkBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropertyBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropertyLinkBase" nillable="true" type="tns:FormPropertyLinkBase" />
  <xs:complexType name="FormPropertyFormType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropertyListBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AutomaticSelection" type="xs:boolean" />
          <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Incite.DTO.FormProperty_DTOs" minOccurs="0" name="FormTypeDisplayMode" type="q20:FormTypeDisplayMode" />
          <xs:element minOccurs="0" name="SelectCurrentFormByDefault" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropertyFormType" nillable="true" type="tns:FormPropertyFormType" />
  <xs:complexType name="FormPropertyInteger">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropertyNumericBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="NumberOfDigits" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropertyInteger" nillable="true" type="tns:FormPropertyInteger" />
  <xs:complexType name="FormPropertyMember">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropertyListBase">
        <xs:sequence>
          <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Incite.DTO.Display.Properties.Configuration" minOccurs="0" name="Configuration" nillable="true" type="q21:FormPropertyMemberConfiguration" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropertyMember" nillable="true" type="tns:FormPropertyMember" />
  <xs:complexType name="FormPropertyComboBox">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropertySimpleListBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropertyComboBox" nillable="true" type="tns:FormPropertyComboBox" />
  <xs:complexType name="FormPropertySimpleListBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropertyListBase">
        <xs:sequence>
          <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="IconsDisplayMode" type="q22:IconDisplayMode" />
          <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="ListDisplayMode" type="q23:ListDisplayMode" />
          <xs:element minOccurs="0" name="UseIconsFromReferencedProperty" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropertySimpleListBase" nillable="true" type="tns:FormPropertySimpleListBase" />
  <xs:complexType name="FormPropertyRadioButton">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropertySimpleListBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropertyRadioButton" nillable="true" type="tns:FormPropertyRadioButton" />
  <xs:complexType name="FormPropertyTextBox">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropertyBase">
        <xs:sequence>
          <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="ChangeCase" type="q24:ChangeCaseMode" />
          <xs:element minOccurs="0" name="CopySubjectFromMessage" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsMultiLine" type="xs:boolean" />
          <xs:element minOccurs="0" name="MaxLength" nillable="true" type="xs:int" />
          <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="SortOrder" type="q25:SortOrder" />
          <xs:element minOccurs="0" name="UseRichTextBox" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropertyTextBox" nillable="true" type="tns:FormPropertyTextBox" />
  <xs:complexType name="FormPropertyTime">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropertyDateTimeBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropertyTime" nillable="true" type="tns:FormPropertyTime" />
  <xs:complexType name="FormPropertyThreadHistory">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropertyLinkBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropertyThreadHistory" nillable="true" type="tns:FormPropertyThreadHistory" />
  <xs:complexType name="FormPropertyMarkup">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropertyBase">
        <xs:sequence>
          <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Incite.DTO.Display.Properties.Configuration" minOccurs="0" name="Configuration" nillable="true" type="q26:FormPropertyMarkupConfiguration" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropertyMarkup" nillable="true" type="tns:FormPropertyMarkup" />
  <xs:complexType name="FormPropertyCheckBoxList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropertySimpleListBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropertyCheckBoxList" nillable="true" type="tns:FormPropertyCheckBoxList" />
</xs:schema>