KeystoneDemo/ksWebServices/Service References/srKeystoneInstancePortalService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InstancePortalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IInstancePortalService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Incite.DTO" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Incite.Utils.Project" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Incite.DTO.Filter" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Incite.Collections" />
      <xsd:import />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Incite.DTO.Display.Properties" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Incite.Keystone" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Incite.DTO.Display.Properties.Configuration" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Incite.DTO.FormProperty_DTOs" />
      <xsd:import namespace="Incite" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Incite.Utils.MailMerge" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Incite.DTO.Workflow" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Incite.Utils.Filter" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Incite.ServiceBus.Messages" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Incite.Keystone.Permissions" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInstancePortalService_CompanyAccessGroupGetByProjectId_InputMessage">
    <wsdl:part name="parameters" element="tns:CompanyAccessGroupGetByProjectId" />
  </wsdl:message>
  <wsdl:message name="IInstancePortalService_CompanyAccessGroupGetByProjectId_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompanyAccessGroupGetByProjectIdResponse" />
  </wsdl:message>
  <wsdl:message name="IInstancePortalService_CompanyAccessGroupGetByProjectIdWhereMemberIsIncludedInCag_InputMessage">
    <wsdl:part name="parameters" element="tns:CompanyAccessGroupGetByProjectIdWhereMemberIsIncludedInCag" />
  </wsdl:message>
  <wsdl:message name="IInstancePortalService_CompanyAccessGroupGetByProjectIdWhereMemberIsIncludedInCag_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompanyAccessGroupGetByProjectIdWhereMemberIsIncludedInCagResponse" />
  </wsdl:message>
  <wsdl:message name="IInstancePortalService_CompanyAccessGroupDefaultTimeZoneGetByCAGId_InputMessage">
    <wsdl:part name="parameters" element="tns:CompanyAccessGroupDefaultTimeZoneGetByCAGId" />
  </wsdl:message>
  <wsdl:message name="IInstancePortalService_CompanyAccessGroupDefaultTimeZoneGetByCAGId_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompanyAccessGroupDefaultTimeZoneGetByCAGIdResponse" />
  </wsdl:message>
  <wsdl:message name="IInstancePortalService_CompanyAccessGroupSaveWithPermissions_InputMessage">
    <wsdl:part name="parameters" element="tns:CompanyAccessGroupSaveWithPermissions" />
  </wsdl:message>
  <wsdl:message name="IInstancePortalService_CompanyAccessGroupSaveWithPermissions_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompanyAccessGroupSaveWithPermissionsResponse" />
  </wsdl:message>
  <wsdl:message name="IInstancePortalService_MemberLinkMemberToProject_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberLinkMemberToProject" />
  </wsdl:message>
  <wsdl:message name="IInstancePortalService_MemberLinkMemberToProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberLinkMemberToProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IInstancePortalService_MemberSavePortalMember_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberSavePortalMember" />
  </wsdl:message>
  <wsdl:message name="IInstancePortalService_MemberSavePortalMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberSavePortalMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IInstancePortalService_MemberSavePortalMemberPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberSavePortalMemberPassword" />
  </wsdl:message>
  <wsdl:message name="IInstancePortalService_MemberSavePortalMemberPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberSavePortalMemberPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IInstancePortalService_CreateProject_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProject" />
  </wsdl:message>
  <wsdl:message name="IInstancePortalService_CreateProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IInstancePortalService_CompanySavePortalCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:CompanySavePortalCompany" />
  </wsdl:message>
  <wsdl:message name="IInstancePortalService_CompanySavePortalCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompanySavePortalCompanyResponse" />
  </wsdl:message>
  <wsdl:portType name="IInstancePortalService">
    <wsdl:operation name="CompanyAccessGroupGetByProjectId">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstancePortalService/CompanyAccessGroupGetByProjectId" message="tns:IInstancePortalService_CompanyAccessGroupGetByProjectId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstancePortalService/CompanyAccessGroupGetByProjectIdResponse" message="tns:IInstancePortalService_CompanyAccessGroupGetByProjectId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompanyAccessGroupGetByProjectIdWhereMemberIsIncludedInCag">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstancePortalService/CompanyAccessGroupGetByProjectIdWhereMemberIsIncludedInCag" message="tns:IInstancePortalService_CompanyAccessGroupGetByProjectIdWhereMemberIsIncludedInCag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstancePortalService/CompanyAccessGroupGetByProjectIdWhereMemberIsIncludedInCagResponse" message="tns:IInstancePortalService_CompanyAccessGroupGetByProjectIdWhereMemberIsIncludedInCag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompanyAccessGroupDefaultTimeZoneGetByCAGId">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstancePortalService/CompanyAccessGroupDefaultTimeZoneGetByCAGId" message="tns:IInstancePortalService_CompanyAccessGroupDefaultTimeZoneGetByCAGId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstancePortalService/CompanyAccessGroupDefaultTimeZoneGetByCAGIdResponse" message="tns:IInstancePortalService_CompanyAccessGroupDefaultTimeZoneGetByCAGId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompanyAccessGroupSaveWithPermissions">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstancePortalService/CompanyAccessGroupSaveWithPermissions" message="tns:IInstancePortalService_CompanyAccessGroupSaveWithPermissions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstancePortalService/CompanyAccessGroupSaveWithPermissionsResponse" message="tns:IInstancePortalService_CompanyAccessGroupSaveWithPermissions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemberLinkMemberToProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstancePortalService/MemberLinkMemberToProject" message="tns:IInstancePortalService_MemberLinkMemberToProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstancePortalService/MemberLinkMemberToProjectResponse" message="tns:IInstancePortalService_MemberLinkMemberToProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemberSavePortalMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstancePortalService/MemberSavePortalMember" message="tns:IInstancePortalService_MemberSavePortalMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstancePortalService/MemberSavePortalMemberResponse" message="tns:IInstancePortalService_MemberSavePortalMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemberSavePortalMemberPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstancePortalService/MemberSavePortalMemberPassword" message="tns:IInstancePortalService_MemberSavePortalMemberPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstancePortalService/MemberSavePortalMemberPasswordResponse" message="tns:IInstancePortalService_MemberSavePortalMemberPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstancePortalService/CreateProject" message="tns:IInstancePortalService_CreateProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstancePortalService/CreateProjectResponse" message="tns:IInstancePortalService_CreateProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompanySavePortalCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstancePortalService/CompanySavePortalCompany" message="tns:IInstancePortalService_CompanySavePortalCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstancePortalService/CompanySavePortalCompanyResponse" message="tns:IInstancePortalService_CompanySavePortalCompany_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IInstancePortalService" type="tns:IInstancePortalService">
    <wsp:PolicyReference URI="#CustomBinding_IInstancePortalService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CompanyAccessGroupGetByProjectId">
      <soap12:operation soapAction="http://tempuri.org/IInstancePortalService/CompanyAccessGroupGetByProjectId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyAccessGroupGetByProjectIdWhereMemberIsIncludedInCag">
      <soap12:operation soapAction="http://tempuri.org/IInstancePortalService/CompanyAccessGroupGetByProjectIdWhereMemberIsIncludedInCag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyAccessGroupDefaultTimeZoneGetByCAGId">
      <soap12:operation soapAction="http://tempuri.org/IInstancePortalService/CompanyAccessGroupDefaultTimeZoneGetByCAGId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyAccessGroupSaveWithPermissions">
      <soap12:operation soapAction="http://tempuri.org/IInstancePortalService/CompanyAccessGroupSaveWithPermissions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberLinkMemberToProject">
      <soap12:operation soapAction="http://tempuri.org/IInstancePortalService/MemberLinkMemberToProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberSavePortalMember">
      <soap12:operation soapAction="http://tempuri.org/IInstancePortalService/MemberSavePortalMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberSavePortalMemberPassword">
      <soap12:operation soapAction="http://tempuri.org/IInstancePortalService/MemberSavePortalMemberPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProject">
      <soap12:operation soapAction="http://tempuri.org/IInstancePortalService/CreateProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanySavePortalCompany">
      <soap12:operation soapAction="http://tempuri.org/IInstancePortalService/CompanySavePortalCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InstancePortalService">
    <wsdl:port name="CustomBinding_IInstancePortalService" binding="tns:CustomBinding_IInstancePortalService">
      <soap12:address location="http://127.255.0.0:82/InstancePortalService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://127.255.0.0:82/InstancePortalService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>