KeystoneDemo/ksWebServices/Service References/srPortalPortalService/Incite.Portal.DTO.API.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Incite.Portal.DTO.API" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Incite.Portal.DTO.API" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Projects">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:long" />
      <xs:element minOccurs="0" name="FirstIndex" type="xs:long" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfProject" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Projects" nillable="true" type="tns:Projects" />
  <xs:complexType name="ArrayOfProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Project" nillable="true" type="tns:Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProject" nillable="true" type="tns:ArrayOfProject" />
  <xs:complexType name="Project">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Project" nillable="true" type="tns:Project" />
  <xs:complexType name="Companies">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:long" />
      <xs:element minOccurs="0" name="FirstIndex" type="xs:long" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfCompany" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Companies" nillable="true" type="tns:Companies" />
  <xs:complexType name="ArrayOfCompany">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Company" nillable="true" type="tns:Company" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompany" nillable="true" type="tns:ArrayOfCompany" />
  <xs:complexType name="Company">
    <xs:sequence>
      <xs:element minOccurs="0" name="ABN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Shortname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timezone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Company" nillable="true" type="tns:Company" />
  <xs:complexType name="Session">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Member" nillable="true" type="tns:Member" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Session" nillable="true" type="tns:Session" />
  <xs:complexType name="Member">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:long" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProjectIds" nillable="true" type="q1:ArrayOflong" />
      <xs:element minOccurs="0" name="RoleId" type="xs:long" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimezoneId" type="xs:long" />
      <xs:element minOccurs="0" name="TimezoneOffset" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Member" nillable="true" type="tns:Member" />
  <xs:complexType name="Members">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:long" />
      <xs:element minOccurs="0" name="FirstIndex" type="xs:long" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfMember" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Members" nillable="true" type="tns:Members" />
  <xs:complexType name="ArrayOfMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Member" nillable="true" type="tns:Member" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMember" nillable="true" type="tns:ArrayOfMember" />
</xs:schema>