KeystoneDemo/ksWebServices/Service References/srPortalPortalService/Incite.Utils.MailMerge.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Incite.Utils.MailMerge" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Incite.Utils.MailMerge" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFormMergeTemplates">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FormMergeTemplates" nillable="true" type="tns:FormMergeTemplates" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFormMergeTemplates" nillable="true" type="tns:ArrayOfFormMergeTemplates" />
  <xs:complexType name="FormMergeTemplates">
    <xs:sequence>
      <xs:element name="_x003C_FormId_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_Templates_x003E_k__BackingField" nillable="true" type="tns:ArrayOfMergeTemplateSpec" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormMergeTemplates" nillable="true" type="tns:FormMergeTemplates" />
  <xs:complexType name="ArrayOfMergeTemplateSpec">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MergeTemplateSpec" nillable="true" type="tns:MergeTemplateSpec" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMergeTemplateSpec" nillable="true" type="tns:ArrayOfMergeTemplateSpec" />
  <xs:complexType name="MergeTemplateSpec">
    <xs:sequence>
      <xs:element name="_x003C_AllRecordsOnOneFile_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_OutputAsPdf_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_OutputAsWord_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_TemplateId_x003E_k__BackingField" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MergeTemplateSpec" nillable="true" type="tns:MergeTemplateSpec" />
</xs:schema>