KeystoneDemo/ksWebServices/Service References/srPortalPortalService/Incite.Portal.Business.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Incite.Portal.Business" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Incite.Portal.Business" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoggedInUser">
    <xs:sequence>
      <xs:element name="_x003C_CompanyId_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_CsUserId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IsPendingApproval_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_MemberId_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_ResetPassword_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_RoleId_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_Username_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoggedInUser" nillable="true" type="tns:LoggedInUser" />
  <xs:complexType name="LoggedInUserProfile">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LoggedInUser">
        <xs:sequence>
          <xs:element name="_x003C_Email_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_FirstName_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_LastName_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_MemberName_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_Title_x003E_k__BackingField" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoggedInUserProfile" nillable="true" type="tns:LoggedInUserProfile" />
</xs:schema>