KeystoneDemo/ksWebServices/Service References/srPortalPortalService/Incite.DTO.FormProperty_DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Incite.DTO.FormProperty_DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Incite.DTO.FormProperty_DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Incite.DTO" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="FormTypeDisplayMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Name" />
      <xs:enumeration value="IdCode" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FormTypeDisplayMode" nillable="true" type="tns:FormTypeDisplayMode" />
  <xs:complexType name="FormPropBaseDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q1:DTOCustom">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="Align" type="q2:AlignMode" />
          <xs:element minOccurs="0" name="AllowDynamicFiltering" type="xs:boolean" />
          <xs:element minOccurs="0" name="AutoFillModifiable" type="xs:boolean" />
          <xs:element minOccurs="0" name="AutoFillout" type="xs:boolean" />
          <xs:element minOccurs="0" name="AutoFilloutSearch" type="xs:boolean" />
          <xs:element minOccurs="0" name="Bold" type="xs:boolean" />
          <xs:element minOccurs="0" name="CharWidth" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ColumnWidthInFilter" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CopyValueFromFirst" type="xs:boolean" />
          <xs:element minOccurs="0" name="CopyValueToAllSelected" type="xs:boolean" />
          <xs:element minOccurs="0" name="CumulativeRecipients" type="xs:boolean" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="DefaultLayout" nillable="true" type="q3:FormPropertyViewAttributes" />
          <xs:element minOccurs="0" name="DefaultValue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DefaultView" type="xs:boolean" />
          <xs:element minOccurs="0" name="DefineMessageViewSortSequence" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="DependsOnPropertyId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="DocumentLink" type="xs:boolean" />
          <xs:element minOccurs="0" name="Editable" type="xs:boolean" />
          <xs:element minOccurs="0" name="EditableInFormSummary" type="xs:boolean" />
          <xs:element minOccurs="0" name="EditableViaApi" type="xs:boolean" />
          <xs:element minOccurs="0" name="ExistenceChkEnabledCreate" type="xs:boolean" />
          <xs:element minOccurs="0" name="ExistenceChkEnabledUpdate" type="xs:boolean" />
          <xs:element minOccurs="0" name="FilterCriteriaView" type="xs:boolean" />
          <xs:element minOccurs="0" name="FilterCriteriaViewSortSequence" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="FilterCriteriaViewStandard" type="xs:boolean" />
          <xs:element minOccurs="0" name="FilterView" type="xs:boolean" />
          <xs:element minOccurs="0" name="FilterViewSortSequence" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="FilterViewStandard" type="xs:boolean" />
          <xs:element minOccurs="0" name="FormId" type="xs:long" />
          <xs:element minOccurs="0" name="FormPropertyId" type="xs:long" />
          <xs:element minOccurs="0" name="FormPropertyLinkList" nillable="true" type="q1:ArrayOfFormPropertyLinkDTO" />
          <xs:element minOccurs="0" name="FormPropertyTypeId" type="xs:long" />
          <xs:element minOccurs="0" name="FormViewSortSequence" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="FormViewStandard" type="xs:boolean" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="GroupingMode" type="q4:GroupingMode" />
          <xs:element minOccurs="0" name="Height" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Import" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="ImportViewSortSequence" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="IndivValuesForEachFile" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDependant" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsPropertyNameHidden" type="xs:boolean" />
          <xs:element minOccurs="0" name="MappingFieldOccurence" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MaxLength" nillable="true" type="xs:int" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="MemberPropertyDisplayMode" type="q5:MemberPropertyDisplayMode" />
          <xs:element minOccurs="0" name="MessageInfoField" type="xs:boolean" />
          <xs:element minOccurs="0" name="MessageSubjectField" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumberOfDecimalPlaces" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PixelWidth" nillable="true" type="xs:int" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="PreviewLayout" nillable="true" type="q6:FormPropertyViewAttributes" />
          <xs:element minOccurs="0" name="PreviewView" type="xs:boolean" />
          <xs:element minOccurs="0" name="PreviewViewSortSequence" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="PreviewViewStandard" type="xs:boolean" />
          <xs:element minOccurs="0" name="QuickAdvSearchView" type="xs:boolean" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="ReportMultipleValuesSplitByMode" type="q7:ReportMultipleValuesSplitBy" />
          <xs:element minOccurs="0" name="Required" type="xs:boolean" />
          <xs:element minOccurs="0" name="RequiredFor" nillable="true" type="q1:ArrayOfEntityDTO" />
          <xs:element minOccurs="0" name="RestrictionSyntax" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RichText" type="xs:boolean" />
          <xs:element minOccurs="0" name="SelectableValues" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SenderValidationEnabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="Sequence" type="xs:int" />
          <xs:element minOccurs="0" name="SingleValue" type="xs:boolean" />
          <xs:element minOccurs="0" name="Sort" type="xs:boolean" />
          <xs:element minOccurs="0" name="SortAscending" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="SortViewSortSequence" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="SortViewStandard" type="xs:boolean" />
          <xs:element minOccurs="0" name="SubsequentValues" type="xs:boolean" />
          <xs:element minOccurs="0" name="SummaryView" type="xs:boolean" />
          <xs:element minOccurs="0" name="SummaryViewSortSequence" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="SummaryViewStandard" type="xs:boolean" />
          <xs:element minOccurs="0" name="UniqueIdentificationCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Unused" type="xs:boolean" />
          <xs:element minOccurs="0" name="ValuesTakenFrom" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="VisibleWhenComposing" nillable="true" type="q1:ArrayOfEntityDTO" />
          <xs:element minOccurs="0" name="VisibleWhenSearching" nillable="true" type="q1:ArrayOfEntityDTO" />
          <xs:element minOccurs="0" name="VisibleWhenSending" nillable="true" type="q1:ArrayOfEntityDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropBaseDTO" nillable="true" type="tns:FormPropBaseDTO" />
  <xs:complexType name="FormPropCompanyDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropListDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompanyDisplayMode" type="tns:CompanyDisplayMode" />
          <xs:element minOccurs="0" name="CopyFromMessage_RecipientsCc" type="xs:boolean" />
          <xs:element minOccurs="0" name="CopyFromMessage_RecipientsTo" type="xs:boolean" />
          <xs:element minOccurs="0" name="CopyFromMessage_Sender" type="xs:boolean" />
          <xs:element minOccurs="0" name="DefaultCompanyId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="DisplayCurrentMembersCompany" type="xs:boolean" />
          <xs:element minOccurs="0" name="SelectMembersCompanyByDefault" type="xs:boolean" />
          <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SelectableCompanyIds" nillable="true" type="q8:ArrayOflong" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropCompanyDTO" nillable="true" type="tns:FormPropCompanyDTO" />
  <xs:complexType name="FormPropListDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Dependencies" nillable="true" type="tns:ArrayOfFormPropDependencyDTO" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="IconDisplayMode" type="q9:IconDisplayMode" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="Items" nillable="true" type="q10:ArrayOfListStringItemDTO" />
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="ListDisplayMode" type="q11:ListDisplayMode" />
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="MarkupCreationRestrictions" nillable="true" type="q12:ArrayOfListStringItemDTO" />
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="MarkupEditRestrictions" nillable="true" type="q13:ArrayOfListStringItemDTO" />
          <xs:element minOccurs="0" name="Permissions" nillable="true" type="tns:ArrayOfFormPropMemberPermissionDTO" />
          <xs:element minOccurs="0" name="ShowValuesFromProperty" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="UseIconsFromReferencedProperty" type="xs:boolean" />
          <xs:element minOccurs="0" name="UseValuesFromProperty" type="xs:long" />
          <xs:element minOccurs="0" name="UsingSequence" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropListDTO" nillable="true" type="tns:FormPropListDTO" />
  <xs:complexType name="ArrayOfFormPropDependencyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FormPropDependencyDTO" nillable="true" type="tns:FormPropDependencyDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFormPropDependencyDTO" nillable="true" type="tns:ArrayOfFormPropDependencyDTO" />
  <xs:complexType name="FormPropDependencyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="SourcePropertyId" type="xs:long" />
      <xs:element minOccurs="0" name="SourcePropertyValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetPropertyId" type="xs:long" />
      <xs:element minOccurs="0" name="TargetPropertyValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormPropDependencyDTO" nillable="true" type="tns:FormPropDependencyDTO" />
  <xs:complexType name="ArrayOfFormPropMemberPermissionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FormPropMemberPermissionDTO" nillable="true" type="tns:FormPropMemberPermissionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFormPropMemberPermissionDTO" nillable="true" type="tns:ArrayOfFormPropMemberPermissionDTO" />
  <xs:complexType name="FormPropMemberPermissionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntityId" type="xs:long" />
      <xs:element minOccurs="0" name="EntityValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeId" type="xs:long" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormPropMemberPermissionDTO" nillable="true" type="tns:FormPropMemberPermissionDTO" />
  <xs:complexType name="FormPropMemberDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropListDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddRecipientsWhenSending" type="tns:AddRecipientsWhenSending" />
          <xs:element minOccurs="0" name="AllowSelectionOf_DistributionGroups" type="xs:boolean" />
          <xs:element minOccurs="0" name="AllowSelectionOf_ExternalMembers" type="xs:boolean" />
          <xs:element minOccurs="0" name="AllowSelectionOf_FromSameCompanyOnly" type="xs:boolean" />
          <xs:element minOccurs="0" name="AllowSelectionOf_InternalMembers" type="xs:boolean" />
          <xs:element minOccurs="0" name="CopyFromMessage_RecipientsCc" type="xs:boolean" />
          <xs:element minOccurs="0" name="CopyFromMessage_RecipientsTo" type="xs:boolean" />
          <xs:element minOccurs="0" name="CopyFromMessage_Sender" type="xs:boolean" />
          <xs:element minOccurs="0" name="DefaultMemberId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="DisplayCurrentMember" type="xs:boolean" />
          <xs:element minOccurs="0" name="DisplayShortFormMode" type="tns:DisplayShortFormMode" />
          <xs:element minOccurs="0" name="MemberDisplayMode" type="tns:MemberDisplayMode" />
          <xs:element minOccurs="0" name="MemberShortDisplayMode" type="tns:MemberShortDisplayMode" />
          <xs:element minOccurs="0" name="RespectToCc_DistributionGroups" type="xs:boolean" />
          <xs:element minOccurs="0" name="SelectLoggedinMemberByDefault" type="xs:boolean" />
          <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SelectableMemberIds" nillable="true" type="q14:ArrayOflong" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropMemberDTO" nillable="true" type="tns:FormPropMemberDTO" />
  <xs:simpleType name="AddRecipientsWhenSending">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="AddToRecipients" />
      <xs:enumeration value="AddCcRecipients" />
      <xs:enumeration value="ExplicitRecipients" />
      <xs:enumeration value="SendSeparately" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AddRecipientsWhenSending" nillable="true" type="tns:AddRecipientsWhenSending" />
  <xs:simpleType name="DisplayShortFormMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MemberShortName" />
      <xs:enumeration value="CompanyShortName" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DisplayShortFormMode" nillable="true" type="tns:DisplayShortFormMode" />
  <xs:simpleType name="MemberDisplayMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MemberCompany" />
      <xs:enumeration value="CompanyShortOnly" />
      <xs:enumeration value="CompanyShortMemberName" />
      <xs:enumeration value="MemberNameOnly" />
      <xs:enumeration value="CompanyLongMemberName" />
      <xs:enumeration value="FirstNameOnly" />
      <xs:enumeration value="LastNameOnly" />
      <xs:enumeration value="CompanyLongOnly">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">23</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FirstNameLastNameShortCutCompanyShort">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">27</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TitleOnly">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FunctionOnly">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="StreetOnly">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PostcodeOnly">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CityOnly">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CountryOnly">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PoboxOnly">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">13</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Telephone1Only">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">14</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MobileOnly">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">15</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FaxAddress1Only">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EmailForwardingOnly1">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">17</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AddressOnly">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">18</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Telephone2Only">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">19</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FaxAddress2Only">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">20</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EmailForwardingOnly2">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">21</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SalutationOnly">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">22</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CommentOnly">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">24</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IdentificationCodesOnly">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">25</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FirstNameLastName">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">26</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProjectEmailOnly" />
      <xs:enumeration value="ProjectFaxOnly" />
      <xs:enumeration value="JobTitleLastNameFirstName" />
      <xs:enumeration value="JobTitleCompany" />
      <xs:enumeration value="FirstNameLastNameCompany" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MemberDisplayMode" nillable="true" type="tns:MemberDisplayMode" />
  <xs:simpleType name="MemberShortDisplayMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MemberShortName" />
      <xs:enumeration value="CompanyShortName" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MemberShortDisplayMode" nillable="true" type="tns:MemberShortDisplayMode" />
  <xs:complexType name="FormPropFileDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActivateDownloadLogbook" type="xs:boolean" />
          <xs:element minOccurs="0" name="AllowDownload" type="xs:boolean" />
          <xs:element minOccurs="0" name="AllowMarkupToBeCreatedWithoutUpdating" type="xs:boolean" />
          <xs:element minOccurs="0" name="AllowToViewInAutovue" type="xs:boolean" />
          <xs:element minOccurs="0" name="ChangeFilenameTo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreateMsgWithEmailAttachment" type="xs:boolean" />
          <xs:element minOccurs="0" name="FileDownloadMode" type="tns:FileDownloadMode" />
          <xs:element minOccurs="0" name="FileNameConvention" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FilterSearchFileContents" type="xs:boolean" />
          <xs:element minOccurs="0" name="FilterSearchFileName" type="xs:boolean" />
          <xs:element minOccurs="0" name="PrimaryFileProperty" type="xs:boolean" />
          <xs:element minOccurs="0" name="QuickSearchFileContents" type="xs:boolean" />
          <xs:element minOccurs="0" name="QuickSearchFileName" type="xs:boolean" />
          <xs:element minOccurs="0" name="SendAsAttachmentWhenFaxing" type="xs:boolean" />
          <xs:element minOccurs="0" name="ShowFileSizeInFilterView" type="xs:boolean" />
          <xs:element minOccurs="0" name="ShowFileSizeInMessageView" type="xs:boolean" />
          <xs:element minOccurs="0" name="ShowFilenameInFilterView" type="xs:boolean" />
          <xs:element minOccurs="0" name="ShowFilenameInMessageView" type="xs:boolean" />
          <xs:element minOccurs="0" name="ShowThumbnailInFilterView" type="xs:boolean" />
          <xs:element minOccurs="0" name="ShowThumbnailInMessageView" type="xs:boolean" />
          <xs:element minOccurs="0" name="ShowUploadedDateInFilterView" type="xs:boolean" />
          <xs:element minOccurs="0" name="ShowUploadedDateInMessageView" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropFileDTO" nillable="true" type="tns:FormPropFileDTO" />
  <xs:simpleType name="FileDownloadMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DefinedByProjectSettings" />
      <xs:enumeration value="WithDownloadLinks" />
      <xs:enumeration value="WithoutDownloadLinks" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FileDownloadMode" nillable="true" type="tns:FileDownloadMode" />
  <xs:complexType name="FormPropDateTimeDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CopySendDateFromMessage" type="xs:boolean" />
          <xs:element minOccurs="0" name="CurrentTimeByDefault" type="xs:boolean" />
          <xs:element minOccurs="0" name="Format" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropDateTimeDTO" nillable="true" type="tns:FormPropDateTimeDTO" />
  <xs:complexType name="FormPropComboBoxDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropListDTO">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropComboBoxDTO" nillable="true" type="tns:FormPropComboBoxDTO" />
  <xs:complexType name="FormPropCheckBoxListDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropListDTO">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropCheckBoxListDTO" nillable="true" type="tns:FormPropCheckBoxListDTO" />
  <xs:complexType name="FormPropRbtListDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropListDTO">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropRbtListDTO" nillable="true" type="tns:FormPropRbtListDTO" />
  <xs:complexType name="FormPropIntegerDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropNumberDTO">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropIntegerDTO" nillable="true" type="tns:FormPropIntegerDTO" />
  <xs:complexType name="FormPropNumberDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CommaSeparator" type="xs:boolean" />
          <xs:element minOccurs="0" name="NumberOfDigits" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Prefix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropNumberDTO" nillable="true" type="tns:FormPropNumberDTO" />
  <xs:complexType name="FormPropFloatDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropNumberDTO">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropFloatDTO" nillable="true" type="tns:FormPropFloatDTO" />
  <xs:complexType name="FormPropTextDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropBaseDTO">
        <xs:sequence>
          <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="ChangeCaseMode" type="q15:ChangeCaseMode" />
          <xs:element minOccurs="0" name="CopySubjectFromMessage" type="xs:boolean" />
          <xs:element minOccurs="0" name="Multiline" type="xs:boolean" />
          <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="SortOrderMode" type="q16:SortOrder" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropTextDTO" nillable="true" type="tns:FormPropTextDTO" />
  <xs:complexType name="FormPropTimeDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropDateTimeDTO">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropTimeDTO" nillable="true" type="tns:FormPropTimeDTO" />
  <xs:complexType name="FormPropCounterDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DependsOnFormPropertyId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="IsMasterCounter" type="xs:boolean" />
          <xs:element minOccurs="0" name="NumberOfDigits" type="xs:int" />
          <xs:element minOccurs="0" name="Prefix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SameForAllInstances" type="xs:boolean" />
          <xs:element minOccurs="0" name="StartCountingFrom" type="xs:int" />
          <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropCounterDTO" nillable="true" type="tns:FormPropCounterDTO" />
  <xs:complexType name="FormPropDateDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropDateTimeDTO">
        <xs:sequence>
          <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="FormPropertyDates" nillable="true" type="q17:ArrayOfFormPropertyDateDTO" />
          <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="IconDisplayMode" type="q18:IconDisplayMode" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropDateDTO" nillable="true" type="tns:FormPropDateDTO" />
  <xs:complexType name="FormPropFormTypeDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropListDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="AutomaticSelection" type="xs:boolean" />
          <xs:element minOccurs="0" name="DefaultFormId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="FormTypeDisplayMode" type="tns:FormTypeDisplayMode" />
          <xs:element minOccurs="0" name="SelectCurrentFormByDefault" type="xs:boolean" />
          <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SelectableTypes" nillable="true" type="q19:ArrayOflong" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropFormTypeDTO" nillable="true" type="tns:FormPropFormTypeDTO" />
  <xs:complexType name="FormPropComputationDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DisplayWithCommaSeparator" type="xs:boolean" />
          <xs:element minOccurs="0" name="Formula" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Prefix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropComputationDTO" nillable="true" type="tns:FormPropComputationDTO" />
  <xs:complexType name="FormPropCumulativeDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropBaseDTO">
        <xs:sequence>
          <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="Items" nillable="true" type="q20:ArrayOfListItemDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropCumulativeDTO" nillable="true" type="tns:FormPropCumulativeDTO" />
  <xs:complexType name="FormPropConcatenationDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Formula" nillable="true" type="xs:string" />
          <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="Items" nillable="true" type="q21:ArrayOfListItemDTO" />
          <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="SortOrderMode" type="q22:SortOrder" />
          <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="ValueDisplayMode" type="q23:ValueDisplayMode" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropConcatenationDTO" nillable="true" type="tns:FormPropConcatenationDTO" />
  <xs:complexType name="FormPropThreadHistoryDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropBaseDTO">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropThreadHistoryDTO" nillable="true" type="tns:FormPropThreadHistoryDTO" />
  <xs:complexType name="FormPropFormLinkDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropBaseDTO">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropFormLinkDTO" nillable="true" type="tns:FormPropFormLinkDTO" />
  <xs:complexType name="FormPropMarkupDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormPropBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CopyAllMarkupsOnNewMessage" type="xs:boolean" />
          <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" minOccurs="0" name="IncludedValueFrom" nillable="true" type="q24:ArrayOfOptionDataListItem" />
          <xs:element minOccurs="0" name="ShowThumbnail" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormPropMarkupDTO" nillable="true" type="tns:FormPropMarkupDTO" />
  <xs:simpleType name="CompanyDisplayMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Name" />
      <xs:enumeration value="ShortName" />
      <xs:enumeration value="ABN" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CompanyDisplayMode" nillable="true" type="tns:CompanyDisplayMode" />
</xs:schema>