KeystoneDemo/ksWebServices/Service References/srPortalPortalService/Incite.Portal.DTO.Enum.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Incite.Portal.DTO.Enum" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Incite.Portal.DTO.Enum" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="MemberFieldNames">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FirstName">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LastName">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Status">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UserName">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Email">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MemberFieldNames" nillable="true" type="tns:MemberFieldNames" />
  <xs:simpleType name="SecurityPasswordFormat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Clear" />
      <xs:enumeration value="Hashed" />
      <xs:enumeration value="Encrypted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SecurityPasswordFormat" nillable="true" type="tns:SecurityPasswordFormat" />
  <xs:simpleType name="SecurityCreateStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="InvalidUserName" />
      <xs:enumeration value="InvalidPassword" />
      <xs:enumeration value="InvalidQuestion" />
      <xs:enumeration value="InvalidAnswer" />
      <xs:enumeration value="InvalidEmail" />
      <xs:enumeration value="DuplicateUserName" />
      <xs:enumeration value="DuplicateEmail" />
      <xs:enumeration value="UserRejected" />
      <xs:enumeration value="InvalidProviderUserKey" />
      <xs:enumeration value="DuplicateProviderUserKey" />
      <xs:enumeration value="ProviderError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SecurityCreateStatus" nillable="true" type="tns:SecurityCreateStatus" />
</xs:schema>