KeystoneDemo/ksWebServices/Service References/srPortalPortalService/Incite.Portal.DTO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Incite.Portal.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Incite.Portal.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Incite.DTO" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Incite.Portal.DTO.Enum" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Web.UI.WebControls" />
  <xs:complexType name="Member_CompanyProductCompanyProjectDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q1:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="CompanyProduct_CompanyProject" nillable="true" type="tns:CompanyProduct_CompanyProjectDTO" />
          <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsDefault" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Member" nillable="true" type="tns:MemberDTO" />
          <xs:element minOccurs="0" name="MemberCompanyProductCompanyProjectId" type="xs:long" />
          <xs:element minOccurs="0" name="ModifiedBy" type="xs:long" />
          <xs:element minOccurs="0" name="RoleId" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Member_CompanyProductCompanyProjectDTO" nillable="true" type="tns:Member_CompanyProductCompanyProjectDTO" />
  <xs:complexType name="CompanyProduct_CompanyProjectDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q2:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="CompanyProductCompanyProjectId" type="xs:long" />
          <xs:element minOccurs="0" name="Company_Product" nillable="true" type="tns:Company_ProductDTO" />
          <xs:element minOccurs="0" name="Company_Project" nillable="true" type="tns:Company_ProjectDTO" />
          <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Instance" nillable="true" type="tns:InstanceDTO" />
          <xs:element minOccurs="0" name="Member_CompanyProductCompanyProject" nillable="true" type="tns:ArrayOfMember_CompanyProductCompanyProjectDTO" />
          <xs:element minOccurs="0" name="ModifiedBy" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompanyProduct_CompanyProjectDTO" nillable="true" type="tns:CompanyProduct_CompanyProjectDTO" />
  <xs:complexType name="Company_ProductDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q3:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="Company" nillable="true" type="tns:CompanyDTO" />
          <xs:element minOccurs="0" name="CompanyProductId" type="xs:long" />
          <xs:element minOccurs="0" name="CompanyProduct_CompanyProject" nillable="true" type="tns:ArrayOfCompanyProduct_CompanyProjectDTO" />
          <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ModifiedBy" type="xs:long" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="tns:ProductDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Company_ProductDTO" nillable="true" type="tns:Company_ProductDTO" />
  <xs:complexType name="CompanyDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q4:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ABN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="ApiKey" nillable="true" type="tns:ArrayOfApiKeyDTO" />
          <xs:element minOccurs="0" name="BRN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillingContactCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillingContactCountryId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="BillingContactDivision" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillingContactEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillingContactFacsimile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillingContactFirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillingContactLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillingContactPosition" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillingContactPostCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillingContactState" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillingContactStreet1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillingContactStreet2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillingContactStreet3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillingContactStreet4" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillingContactTelephone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CompanyBusinessActivity" nillable="true" type="tns:CompanyBusinessActivityDTO" />
          <xs:element minOccurs="0" name="CompanyId" type="xs:long" />
          <xs:element minOccurs="0" name="CompanyProjectTPS" nillable="true" type="tns:ArrayOfCompanyProjectTPSDTO" />
          <xs:element minOccurs="0" name="Company_Product" nillable="true" type="tns:ArrayOfCompany_ProductDTO" />
          <xs:element minOccurs="0" name="Company_Project" nillable="true" type="tns:ArrayOfCompany_ProjectDTO" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="tns:CountryDTO" />
          <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DirectorOrSecretaryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EnableKeystoneTraining" type="xs:boolean" />
          <xs:element minOccurs="0" name="Member" nillable="true" type="tns:ArrayOfMemberDTO" />
          <xs:element minOccurs="0" name="ModifiedBy" type="xs:long" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="POBox" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParentCompanyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProjectTemplate_Company" nillable="true" type="tns:ArrayOfProjectTemplate_CompanyDTO" />
          <xs:element minOccurs="0" name="Shortname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Street1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Street2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Street3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Street4" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TimeZone" nillable="true" type="tns:TimeZoneDTO" />
          <xs:element minOccurs="0" name="UniqueId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompanyDTO" nillable="true" type="tns:CompanyDTO" />
  <xs:complexType name="ArrayOfApiKeyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApiKeyDTO" nillable="true" type="tns:ApiKeyDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApiKeyDTO" nillable="true" type="tns:ArrayOfApiKeyDTO" />
  <xs:complexType name="ApiKeyDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q5:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="ApiKeyId" type="ser:guid" />
          <xs:element minOccurs="0" name="ApiKey_Member" nillable="true" type="tns:ArrayOfApiKey_MemberDTO" />
          <xs:element minOccurs="0" name="Company" nillable="true" type="tns:CompanyDTO" />
          <xs:element minOccurs="0" name="Session" nillable="true" type="tns:ArrayOfSessionDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ApiKeyDTO" nillable="true" type="tns:ApiKeyDTO" />
  <xs:complexType name="ArrayOfApiKey_MemberDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApiKey_MemberDTO" nillable="true" type="tns:ApiKey_MemberDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApiKey_MemberDTO" nillable="true" type="tns:ArrayOfApiKey_MemberDTO" />
  <xs:complexType name="ApiKey_MemberDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q6:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="ApiKey" nillable="true" type="tns:ApiKeyDTO" />
          <xs:element minOccurs="0" name="ApiKeyMemberId" type="xs:long" />
          <xs:element minOccurs="0" name="Member" nillable="true" type="tns:MemberDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ApiKey_MemberDTO" nillable="true" type="tns:ApiKey_MemberDTO" />
  <xs:complexType name="MemberDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q7:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="Address" nillable="true" type="q7:PostalAddressDTO" />
          <xs:element minOccurs="0" name="AlternateEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Annotation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ApiKey_Member" nillable="true" type="tns:ArrayOfApiKey_MemberDTO" />
          <xs:element minOccurs="0" name="CSUserId" type="xs:int" />
          <xs:element minOccurs="0" name="CSUserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Company" nillable="true" type="tns:CompanyDTO" />
          <xs:element minOccurs="0" name="CompanyRequest" nillable="true" type="tns:ArrayOfCompanyRequestDTO" />
          <xs:element minOccurs="0" name="CountryId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
          <xs:element minOccurs="0" name="Culture" nillable="true" type="tns:CultureDTO" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Division" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Emails" nillable="true" type="q7:ArrayOfInternetAddressDTO" />
          <xs:element minOccurs="0" name="Facsimile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FailedLoginAttempts" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Faxes" nillable="true" type="q7:ArrayOfTelecomAddressDTO" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GlobalMessage" nillable="true" type="tns:ArrayOfGlobalMessageDTO" />
          <xs:element minOccurs="0" name="Initials" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsProjectManager" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastLoginAttempt" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MemberId" type="xs:long" />
          <xs:element minOccurs="0" name="MemberName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Member_CompanyProductCompanyProject" nillable="true" type="tns:ArrayOfMember_CompanyProductCompanyProjectDTO" />
          <xs:element minOccurs="0" name="Member_Project" nillable="true" type="tns:ArrayOfMember_ProjectDTO" />
          <xs:element minOccurs="0" name="Member_Session" nillable="true" type="tns:ArrayOfMember_SessionDTO" />
          <xs:element minOccurs="0" name="MobileTelephone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModifiedBy" type="xs:long" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PasswordResetToken" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phones" nillable="true" type="q7:ArrayOfTelecomAddressDTO" />
          <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProjectEmail" nillable="true" type="q7:InternetAddressDTO" />
          <xs:element minOccurs="0" name="ProjectFax" nillable="true" type="q7:TelecomAddressDTO" />
          <xs:element minOccurs="0" name="ProjectMemberTPS" nillable="true" type="tns:ArrayOfProjectMemberTPSDTO" />
          <xs:element minOccurs="0" name="ProjectRequest" nillable="true" type="tns:ArrayOfProjectRequestDTO" />
          <xs:element minOccurs="0" name="ResetPassword" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Role" nillable="true" type="tns:RoleDTO" />
          <xs:element minOccurs="0" name="SalutationTypeId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Session" nillable="true" type="tns:ArrayOfSessionDTO" />
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" type="xs:int" />
          <xs:element minOccurs="0" name="Street1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Street2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Street3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Street4" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TimeZone" nillable="true" type="tns:TimeZoneDTO" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MemberDTO" nillable="true" type="tns:MemberDTO" />
  <xs:complexType name="ArrayOfCompanyRequestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyRequestDTO" nillable="true" type="tns:CompanyRequestDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyRequestDTO" nillable="true" type="tns:ArrayOfCompanyRequestDTO" />
  <xs:complexType name="CompanyRequestDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q8:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="CompanyRequestId" type="xs:long" />
          <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ExtraInfo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Member" nillable="true" type="tns:MemberDTO" />
          <xs:element minOccurs="0" name="ModifiedBy" type="xs:long" />
          <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompanyRequestDTO" nillable="true" type="tns:CompanyRequestDTO" />
  <xs:complexType name="CultureDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q9:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
          <xs:element minOccurs="0" name="CultureCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CultureId" type="xs:short" />
          <xs:element minOccurs="0" name="CultureName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Member" nillable="true" type="tns:ArrayOfMemberDTO" />
          <xs:element minOccurs="0" name="ModifiedBy" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CultureDTO" nillable="true" type="tns:CultureDTO" />
  <xs:complexType name="ArrayOfMemberDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemberDTO" nillable="true" type="tns:MemberDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemberDTO" nillable="true" type="tns:ArrayOfMemberDTO" />
  <xs:complexType name="ArrayOfGlobalMessageDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GlobalMessageDTO" nillable="true" type="tns:GlobalMessageDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGlobalMessageDTO" nillable="true" type="tns:ArrayOfGlobalMessageDTO" />
  <xs:complexType name="GlobalMessageDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q10:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="GlobalMessageId" type="xs:long" />
          <xs:element minOccurs="0" name="Member" nillable="true" type="tns:MemberDTO" />
          <xs:element minOccurs="0" name="ModifiedBy" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GlobalMessageDTO" nillable="true" type="tns:GlobalMessageDTO" />
  <xs:complexType name="ArrayOfMember_CompanyProductCompanyProjectDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Member_CompanyProductCompanyProjectDTO" nillable="true" type="tns:Member_CompanyProductCompanyProjectDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMember_CompanyProductCompanyProjectDTO" nillable="true" type="tns:ArrayOfMember_CompanyProductCompanyProjectDTO" />
  <xs:complexType name="ArrayOfMember_ProjectDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Member_ProjectDTO" nillable="true" type="tns:Member_ProjectDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMember_ProjectDTO" nillable="true" type="tns:ArrayOfMember_ProjectDTO" />
  <xs:complexType name="Member_ProjectDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q11:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Member" nillable="true" type="tns:MemberDTO" />
          <xs:element minOccurs="0" name="MemberProjectId" type="xs:long" />
          <xs:element minOccurs="0" name="ModifiedBy" type="xs:long" />
          <xs:element minOccurs="0" name="Project" nillable="true" type="tns:ProjectDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Member_ProjectDTO" nillable="true" type="tns:Member_ProjectDTO" />
  <xs:complexType name="ProjectDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q12:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="CompanyProjectTPS" nillable="true" type="tns:ArrayOfCompanyProjectTPSDTO" />
          <xs:element minOccurs="0" name="Company_Project" nillable="true" type="tns:ArrayOfCompany_ProjectDTO" />
          <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DomainName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EnableApi" type="xs:boolean" />
          <xs:element minOccurs="0" name="InstanceDSN" nillable="true" type="tns:InstanceDSNDTO" />
          <xs:element minOccurs="0" name="InvitationLink" nillable="true" type="tns:ArrayOfInvitationLinkDTO" />
          <xs:element minOccurs="0" name="IsTPSProject" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Member_Project" nillable="true" type="tns:ArrayOfMember_ProjectDTO" />
          <xs:element minOccurs="0" name="ModifiedBy" type="xs:long" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PaymentId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PricingPlan" nillable="true" type="tns:PricingPlanDTO" />
          <xs:element minOccurs="0" name="ProjectId" type="xs:long" />
          <xs:element minOccurs="0" name="ProjectMemberTPS" nillable="true" type="tns:ArrayOfProjectMemberTPSDTO" />
          <xs:element minOccurs="0" name="ProjectMode" nillable="true" type="tns:ProjectModeDTO" />
          <xs:element minOccurs="0" name="ProjectRequest" nillable="true" type="tns:ArrayOfProjectRequestDTO" />
          <xs:element minOccurs="0" name="ProjectTemplate" nillable="true" type="tns:ProjectTemplateDTO" />
          <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProjectDTO" nillable="true" type="tns:ProjectDTO" />
  <xs:complexType name="ArrayOfCompanyProjectTPSDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyProjectTPSDTO" nillable="true" type="tns:CompanyProjectTPSDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyProjectTPSDTO" nillable="true" type="tns:ArrayOfCompanyProjectTPSDTO" />
  <xs:complexType name="CompanyProjectTPSDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q13:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="Company" nillable="true" type="tns:CompanyDTO" />
          <xs:element minOccurs="0" name="CompanyProjectTPSId" type="xs:long" />
          <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ModifiedBy" type="xs:long" />
          <xs:element minOccurs="0" name="Project" nillable="true" type="tns:ProjectDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompanyProjectTPSDTO" nillable="true" type="tns:CompanyProjectTPSDTO" />
  <xs:complexType name="ArrayOfCompany_ProjectDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Company_ProjectDTO" nillable="true" type="tns:Company_ProjectDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompany_ProjectDTO" nillable="true" type="tns:ArrayOfCompany_ProjectDTO" />
  <xs:complexType name="Company_ProjectDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q14:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="CanSendAll" type="xs:boolean" />
          <xs:element minOccurs="0" name="Company" nillable="true" type="tns:CompanyDTO" />
          <xs:element minOccurs="0" name="CompanyProduct_CompanyProject" nillable="true" type="tns:ArrayOfCompanyProduct_CompanyProjectDTO" />
          <xs:element minOccurs="0" name="CompanyProjectId" type="xs:long" />
          <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModifiedBy" type="xs:long" />
          <xs:element minOccurs="0" name="Project" nillable="true" type="tns:ProjectDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Company_ProjectDTO" nillable="true" type="tns:Company_ProjectDTO" />
  <xs:complexType name="ArrayOfCompanyProduct_CompanyProjectDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyProduct_CompanyProjectDTO" nillable="true" type="tns:CompanyProduct_CompanyProjectDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyProduct_CompanyProjectDTO" nillable="true" type="tns:ArrayOfCompanyProduct_CompanyProjectDTO" />
  <xs:complexType name="InstanceDSNDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q15:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="ConnectionString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
          <xs:element minOccurs="0" name="DatabaseName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DatabaseServer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Instance" nillable="true" type="tns:InstanceDTO" />
          <xs:element minOccurs="0" name="InstanceDSNId" type="xs:long" />
          <xs:element minOccurs="0" name="ModifiedBy" type="xs:long" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Project" nillable="true" type="tns:ArrayOfProjectDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InstanceDSNDTO" nillable="true" type="tns:InstanceDSNDTO" />
  <xs:complexType name="InstanceDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q16:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="ApiInstanceReadOnlyUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ApiInstanceUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CompanyProduct_CompanyProject" nillable="true" type="tns:ArrayOfCompanyProduct_CompanyProjectDTO" />
          <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExternalAPIUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InstanceDSN" nillable="true" type="tns:ArrayOfInstanceDSNDTO" />
          <xs:element minOccurs="0" name="InstanceId" type="xs:long" />
          <xs:element minOccurs="0" name="Member_Session" nillable="true" type="tns:ArrayOfMember_SessionDTO" />
          <xs:element minOccurs="0" name="ModifiedBy" type="xs:long" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="tns:ProductDTO" />
          <xs:element minOccurs="0" name="SubDomain" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TimeZone" nillable="true" type="tns:TimeZoneDTO" />
          <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InstanceDTO" nillable="true" type="tns:InstanceDTO" />
  <xs:complexType name="ArrayOfInstanceDSNDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InstanceDSNDTO" nillable="true" type="tns:InstanceDSNDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstanceDSNDTO" nillable="true" type="tns:ArrayOfInstanceDSNDTO" />
  <xs:complexType name="ArrayOfMember_SessionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Member_SessionDTO" nillable="true" type="tns:Member_SessionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMember_SessionDTO" nillable="true" type="tns:ArrayOfMember_SessionDTO" />
  <xs:complexType name="Member_SessionDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q17:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Instance" nillable="true" type="tns:InstanceDTO" />
          <xs:element minOccurs="0" name="Member" nillable="true" type="tns:MemberDTO" />
          <xs:element minOccurs="0" name="MemberSessionId" type="xs:long" />
          <xs:element minOccurs="0" name="ModifiedBy" type="xs:long" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="tns:ProductDTO" />
          <xs:element minOccurs="0" name="ProjectId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="SessionStartDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Member_SessionDTO" nillable="true" type="tns:Member_SessionDTO" />
  <xs:complexType name="ProductDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q18:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="Company_Product" nillable="true" type="tns:ArrayOfCompany_ProductDTO" />
          <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Instance" nillable="true" type="tns:ArrayOfInstanceDTO" />
          <xs:element minOccurs="0" name="Member_Session" nillable="true" type="tns:ArrayOfMember_SessionDTO" />
          <xs:element minOccurs="0" name="ModifiedBy" type="xs:long" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PricingPlan" nillable="true" type="tns:ArrayOfPricingPlanDTO" />
          <xs:element minOccurs="0" name="ProductId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductDTO" nillable="true" type="tns:ProductDTO" />
  <xs:complexType name="ArrayOfCompany_ProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Company_ProductDTO" nillable="true" type="tns:Company_ProductDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompany_ProductDTO" nillable="true" type="tns:ArrayOfCompany_ProductDTO" />
  <xs:complexType name="ArrayOfInstanceDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InstanceDTO" nillable="true" type="tns:InstanceDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstanceDTO" nillable="true" type="tns:ArrayOfInstanceDTO" />
  <xs:complexType name="ArrayOfPricingPlanDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PricingPlanDTO" nillable="true" type="tns:PricingPlanDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPricingPlanDTO" nillable="true" type="tns:ArrayOfPricingPlanDTO" />
  <xs:complexType name="PricingPlanDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q19:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OnlineSignUp" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="PricingPlanId" type="xs:int" />
          <xs:element minOccurs="0" name="PricingPlan_PlanAttribute" nillable="true" type="tns:ArrayOfPricingPlan_PlanAttributeDTO" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="tns:ProductDTO" />
          <xs:element minOccurs="0" name="Project" nillable="true" type="tns:ArrayOfProjectDTO" />
          <xs:element minOccurs="0" name="StorageSupportDescription" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PricingPlanDTO" nillable="true" type="tns:PricingPlanDTO" />
  <xs:complexType name="ArrayOfPricingPlan_PlanAttributeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PricingPlan_PlanAttributeDTO" nillable="true" type="tns:PricingPlan_PlanAttributeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPricingPlan_PlanAttributeDTO" nillable="true" type="tns:ArrayOfPricingPlan_PlanAttributeDTO" />
  <xs:complexType name="PricingPlan_PlanAttributeDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q20:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="PlanAttribute" nillable="true" type="tns:PlanAttributeDTO" />
          <xs:element minOccurs="0" name="PlanAttributeId" type="xs:int" />
          <xs:element minOccurs="0" name="PricingPlan" nillable="true" type="tns:PricingPlanDTO" />
          <xs:element minOccurs="0" name="PricingPlanId" type="xs:int" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PricingPlan_PlanAttributeDTO" nillable="true" type="tns:PricingPlan_PlanAttributeDTO" />
  <xs:complexType name="PlanAttributeDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q21:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsImportant" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PlanAttributeId" type="xs:int" />
          <xs:element minOccurs="0" name="PricingPlan_PlanAttribute" nillable="true" type="tns:ArrayOfPricingPlan_PlanAttributeDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PlanAttributeDTO" nillable="true" type="tns:PlanAttributeDTO" />
  <xs:complexType name="ArrayOfProjectDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectDTO" nillable="true" type="tns:ProjectDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectDTO" nillable="true" type="tns:ArrayOfProjectDTO" />
  <xs:complexType name="TimeZoneDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q22="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q22:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="Company" nillable="true" type="tns:ArrayOfCompanyDTO" />
          <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Instance" nillable="true" type="tns:ArrayOfInstanceDTO" />
          <xs:element minOccurs="0" name="IsDaylightSavingTime" type="xs:boolean" />
          <xs:element minOccurs="0" name="Member" nillable="true" type="tns:ArrayOfMemberDTO" />
          <xs:element minOccurs="0" name="ModifiedBy" type="xs:long" />
          <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TimeZoneId" type="xs:long" />
          <xs:element minOccurs="0" name="TimeZoneOffset" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="WindowsTimeZoneId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TimeZoneDTO" nillable="true" type="tns:TimeZoneDTO" />
  <xs:complexType name="ArrayOfCompanyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyDTO" nillable="true" type="tns:CompanyDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyDTO" nillable="true" type="tns:ArrayOfCompanyDTO" />
  <xs:complexType name="ArrayOfInvitationLinkDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvitationLinkDTO" nillable="true" type="tns:InvitationLinkDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvitationLinkDTO" nillable="true" type="tns:ArrayOfInvitationLinkDTO" />
  <xs:complexType name="InvitationLinkDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q23:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompanyAccessGroupId" type="xs:long" />
          <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="InviteEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsAccepted" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="LinkId" type="ser:guid" />
          <xs:element minOccurs="0" name="ModifiedBy" type="xs:long" />
          <xs:element minOccurs="0" name="Project" nillable="true" type="tns:ProjectDTO" />
          <xs:element minOccurs="0" name="Role" nillable="true" type="tns:RoleDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvitationLinkDTO" nillable="true" type="tns:InvitationLinkDTO" />
  <xs:complexType name="RoleDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q24="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q24:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvitationLink" nillable="true" type="tns:ArrayOfInvitationLinkDTO" />
          <xs:element minOccurs="0" name="Member" nillable="true" type="tns:ArrayOfMemberDTO" />
          <xs:element minOccurs="0" name="ModifiedBy" type="xs:long" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RoleId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RoleDTO" nillable="true" type="tns:RoleDTO" />
  <xs:complexType name="ArrayOfProjectMemberTPSDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectMemberTPSDTO" nillable="true" type="tns:ProjectMemberTPSDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectMemberTPSDTO" nillable="true" type="tns:ArrayOfProjectMemberTPSDTO" />
  <xs:complexType name="ProjectMemberTPSDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q25:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Member" nillable="true" type="tns:MemberDTO" />
          <xs:element minOccurs="0" name="ModifiedBy" type="xs:long" />
          <xs:element minOccurs="0" name="Project" nillable="true" type="tns:ProjectDTO" />
          <xs:element minOccurs="0" name="ProjectMemberTPSId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProjectMemberTPSDTO" nillable="true" type="tns:ProjectMemberTPSDTO" />
  <xs:complexType name="ProjectModeDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q26="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q26:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Project" nillable="true" type="tns:ArrayOfProjectDTO" />
          <xs:element minOccurs="0" name="ProjectModeId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProjectModeDTO" nillable="true" type="tns:ProjectModeDTO" />
  <xs:complexType name="ArrayOfProjectRequestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectRequestDTO" nillable="true" type="tns:ProjectRequestDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectRequestDTO" nillable="true" type="tns:ArrayOfProjectRequestDTO" />
  <xs:complexType name="ProjectRequestDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q27="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q27:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Member" nillable="true" type="tns:MemberDTO" />
          <xs:element minOccurs="0" name="ModifiedBy" type="xs:long" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Project" nillable="true" type="tns:ProjectDTO" />
          <xs:element minOccurs="0" name="ProjectRequestId" type="xs:long" />
          <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProjectRequestDTO" nillable="true" type="tns:ProjectRequestDTO" />
  <xs:complexType name="ProjectTemplateDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q28="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q28:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AvailableToAll" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="BasedOnProjectId" type="xs:long" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Project" nillable="true" type="tns:ArrayOfProjectDTO" />
          <xs:element minOccurs="0" name="ProjectTemplateId" type="xs:int" />
          <xs:element minOccurs="0" name="ProjectTemplate_Company" nillable="true" type="tns:ArrayOfProjectTemplate_CompanyDTO" />
          <xs:element minOccurs="0" name="Thumbnail" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="ThumbnailUrl" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProjectTemplateDTO" nillable="true" type="tns:ProjectTemplateDTO" />
  <xs:complexType name="ArrayOfProjectTemplate_CompanyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectTemplate_CompanyDTO" nillable="true" type="tns:ProjectTemplate_CompanyDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectTemplate_CompanyDTO" nillable="true" type="tns:ArrayOfProjectTemplate_CompanyDTO" />
  <xs:complexType name="ProjectTemplate_CompanyDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q29="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q29:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Company" nillable="true" type="tns:CompanyDTO" />
          <xs:element minOccurs="0" name="ProjectTemplate" nillable="true" type="tns:ProjectTemplateDTO" />
          <xs:element minOccurs="0" name="ProjectTemplate_CompanyId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProjectTemplate_CompanyDTO" nillable="true" type="tns:ProjectTemplate_CompanyDTO" />
  <xs:complexType name="ArrayOfSessionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SessionDTO" nillable="true" type="tns:SessionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSessionDTO" nillable="true" type="tns:ArrayOfSessionDTO" />
  <xs:complexType name="SessionDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q30="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q30:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="ApiKey" nillable="true" type="tns:ApiKeyDTO" />
          <xs:element minOccurs="0" name="ExpiryTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Member" nillable="true" type="tns:MemberDTO" />
          <xs:element minOccurs="0" name="SessionId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SessionDTO" nillable="true" type="tns:SessionDTO" />
  <xs:complexType name="CompanyBusinessActivityDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q31="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q31:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="BusinessActivity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BusinessActivityId" type="xs:long" />
          <xs:element minOccurs="0" name="Company" nillable="true" type="tns:ArrayOfCompanyDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompanyBusinessActivityDTO" nillable="true" type="tns:CompanyBusinessActivityDTO" />
  <xs:complexType name="CountryDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q32="http://schemas.datacontract.org/2004/07/Incite.DTO" base="q32:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="CallingCode" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Company" nillable="true" type="tns:ArrayOfCompanyDTO" />
          <xs:element minOccurs="0" name="CountryId" type="xs:long" />
          <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModifiedBy" type="xs:long" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CountryDTO" nillable="true" type="tns:CountryDTO" />
  <xs:complexType name="ArrayOfProjectRequestViewDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectRequestViewDTO" nillable="true" type="tns:ProjectRequestViewDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectRequestViewDTO" nillable="true" type="tns:ArrayOfProjectRequestViewDTO" />
  <xs:complexType name="ProjectRequestViewDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="MemberId" type="xs:long" />
      <xs:element minOccurs="0" name="MemberName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MembersCompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectRequestId" type="xs:long" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectRequestViewDTO" nillable="true" type="tns:ProjectRequestViewDTO" />
  <xs:complexType name="ArrayOfMemberProductAccessDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemberProductAccessDTO" nillable="true" type="tns:MemberProductAccessDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemberProductAccessDTO" nillable="true" type="tns:ArrayOfMemberProductAccessDTO" />
  <xs:complexType name="MemberProductAccessDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyProductCompanyProjectId" type="xs:long" />
      <xs:element minOccurs="0" name="InstanceConnectionString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstanceId" type="xs:long" />
      <xs:element minOccurs="0" name="InstanceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstanceUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDefault" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MemberCompanyProjectCompanyProductId" type="xs:long" />
      <xs:element minOccurs="0" name="MemberId" type="xs:long" />
      <xs:element minOccurs="0" name="MemberName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" type="xs:long" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:long" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberProductAccessDTO" nillable="true" type="tns:MemberProductAccessDTO" />
  <xs:complexType name="ArrayOfCompanyProductAccessDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyProductAccessDTO" nillable="true" type="tns:CompanyProductAccessDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyProductAccessDTO" nillable="true" type="tns:ArrayOfCompanyProductAccessDTO" />
  <xs:complexType name="CompanyProductAccessDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:long" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyProduct_CompanyProjectId" type="xs:long" />
      <xs:element minOccurs="0" name="InstanceConnectionString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstanceId" type="xs:long" />
      <xs:element minOccurs="0" name="InstanceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstanceUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" type="xs:long" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:long" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyProductAccessDTO" nillable="true" type="tns:CompanyProductAccessDTO" />
  <xs:complexType name="ArrayOfRoleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleDTO" nillable="true" type="tns:RoleDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleDTO" nillable="true" type="tns:ArrayOfRoleDTO" />
  <xs:complexType name="ArrayOfProjectTemplateDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectTemplateDTO" nillable="true" type="tns:ProjectTemplateDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectTemplateDTO" nillable="true" type="tns:ArrayOfProjectTemplateDTO" />
  <xs:complexType name="InvitationResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="MemberId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvitationResultDTO" nillable="true" type="tns:InvitationResultDTO" />
  <xs:complexType name="PlanSignUpResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:long" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="MemberId" type="xs:long" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlanSignUpResultDTO" nillable="true" type="tns:PlanSignUpResultDTO" />
  <xs:complexType name="CompanyMemberSearchParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:long" />
      <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="SearchText" nillable="true" type="xs:string" />
      <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Incite.Portal.DTO.Enum" minOccurs="0" name="SortBy" type="q33:MemberFieldNames" />
      <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/System.Web.UI.WebControls" minOccurs="0" name="SortOrder" type="q34:SortDirection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyMemberSearchParameters" nillable="true" type="tns:CompanyMemberSearchParameters" />
  <xs:complexType name="CompanyMemberSearchResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="Results" nillable="true" type="tns:ArrayOfMemberDTO" />
      <xs:element minOccurs="0" name="TotalRecords" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyMemberSearchResults" nillable="true" type="tns:CompanyMemberSearchResults" />
  <xs:complexType name="SecurityOptionsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnablePasswordReset" type="xs:boolean" />
      <xs:element minOccurs="0" name="EnablePasswordRetrieval" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxInvalidPasswordAttempt" type="xs:int" />
      <xs:element minOccurs="0" name="MinRequiredNonAlphanumericCharacters" type="xs:int" />
      <xs:element minOccurs="0" name="MinRequiredPasswordLength" type="xs:int" />
      <xs:element minOccurs="0" name="PasswordAttemptWindow" type="xs:int" />
      <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Incite.Portal.DTO.Enum" minOccurs="0" name="PasswordFormat" type="q35:SecurityPasswordFormat" />
      <xs:element minOccurs="0" name="PasswordStrengthRegularExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequiresQuestionAndAnswer" type="xs:boolean" />
      <xs:element minOccurs="0" name="RequiresUniqueEmail" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityOptionsDTO" nillable="true" type="tns:SecurityOptionsDTO" />
  <xs:complexType name="SecurityUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsApproved" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLockedOut" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastActivityDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastLockoutDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastLoginDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastPasswordChangedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PasswordQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderUserKey" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityUserDTO" nillable="true" type="tns:SecurityUserDTO" />
  <xs:complexType name="ArrayOfSecurityUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SecurityUserDTO" nillable="true" type="tns:SecurityUserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSecurityUserDTO" nillable="true" type="tns:ArrayOfSecurityUserDTO" />
  <xs:complexType name="ArrayOfCountryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountryDTO" nillable="true" type="tns:CountryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountryDTO" nillable="true" type="tns:ArrayOfCountryDTO" />
  <xs:complexType name="ArrayOfProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDTO" nillable="true" type="tns:ProductDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDTO" nillable="true" type="tns:ArrayOfProductDTO" />
  <xs:complexType name="ArrayOfProductProjectMappingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductProjectMappingDTO" nillable="true" type="tns:ProductProjectMappingDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductProjectMappingDTO" nillable="true" type="tns:ArrayOfProductProjectMappingDTO" />
  <xs:complexType name="ProductProjectMappingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:long" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyProductCompanyProjectId" type="xs:long" />
      <xs:element minOccurs="0" name="ConnectionString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstanceDSNId" type="xs:long" />
      <xs:element minOccurs="0" name="InstanceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstanceUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" type="xs:long" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:long" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductProjectMappingDTO" nillable="true" type="tns:ProductProjectMappingDTO" />
  <xs:complexType name="ArrayOfCompanyProductProjectAccessDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyProductProjectAccessDTO" nillable="true" type="tns:CompanyProductProjectAccessDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyProductProjectAccessDTO" nillable="true" type="tns:ArrayOfCompanyProductProjectAccessDTO" />
  <xs:complexType name="CompanyProductProjectAccessDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:long" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyProductCompanyProjectId" type="xs:long" />
      <xs:element minOccurs="0" name="InstanceId" type="xs:long" />
      <xs:element minOccurs="0" name="InstanceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" type="xs:long" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:long" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyProductProjectAccessDTO" nillable="true" type="tns:CompanyProductProjectAccessDTO" />
  <xs:complexType name="MemberProductAccessWithPagingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="MemberProductAccess" nillable="true" type="tns:ArrayOfMemberProductAccessDTO" />
      <xs:element minOccurs="0" name="PageNo" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberProductAccessWithPagingDTO" nillable="true" type="tns:MemberProductAccessWithPagingDTO" />
  <xs:complexType name="ArrayOfBulkUserUploadLineItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BulkUserUploadLineItem" nillable="true" type="tns:BulkUserUploadLineItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBulkUserUploadLineItem" nillable="true" type="tns:ArrayOfBulkUserUploadLineItem" />
  <xs:complexType name="BulkUserUploadLineItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Division" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TpsInstancesAccess" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BulkUserUploadLineItem" nillable="true" type="tns:BulkUserUploadLineItem" />
</xs:schema>