KeystoneDemo/ksWebServices/Service References/srKeystoneInstanceReadOnlyService/Incite.DTO.Contacts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Incite.DTO.Contacts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Incite.DTO.Contacts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBaseMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BaseMember" nillable="true" type="tns:BaseMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBaseMember" nillable="true" type="tns:ArrayOfBaseMember" />
  <xs:complexType name="BaseMember">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyAccessGroupId" type="xs:long" />
      <xs:element minOccurs="0" name="CompanyAccessGroupShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsVisible" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberId" type="xs:long" />
      <xs:element minOccurs="0" name="MemberTypeId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseMember" nillable="true" type="tns:BaseMember" />
</xs:schema>