KeystoneDemo/ksWebServices/Service References/srKeystoneInstanceReadOnlyService/Incite.DTO.Display.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Incite.DTO.Display" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="OptionDataListItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Icon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OptionDataListItem" nillable="true" type="tns:OptionDataListItem" />
  <xs:complexType name="OptionDataFormTypeListItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OptionDataListItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="FormUniqueId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OptionDataFormTypeListItem" nillable="true" type="tns:OptionDataFormTypeListItem" />
  <xs:complexType name="OptionDataListItemWithType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OptionDataListItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="TypeId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OptionDataListItemWithType" nillable="true" type="tns:OptionDataListItemWithType" />
  <xs:complexType name="OptionDataMemberListItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OptionDataListItemWithType">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompanyAbbreviation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CompanyLongName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DisplayValue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsFormatted" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OptionDataMemberListItem" nillable="true" type="tns:OptionDataMemberListItem" />
  <xs:complexType name="OptionDataDistributionGroupListItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OptionDataListItemWithType">
        <xs:sequence>
          <xs:element minOccurs="0" name="DistributionGroupTypeId" type="xs:int" />
          <xs:element minOccurs="0" name="UniqueIdentifier" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OptionDataDistributionGroupListItem" nillable="true" type="tns:OptionDataDistributionGroupListItem" />
  <xs:complexType name="OptionDataCompanyListItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OptionDataListItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="ABN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UniqueCompanyId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OptionDataCompanyListItem" nillable="true" type="tns:OptionDataCompanyListItem" />
  <xs:simpleType name="AlignMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Left" />
      <xs:enumeration value="Centre" />
      <xs:enumeration value="Right" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AlignMode" nillable="true" type="tns:AlignMode" />
  <xs:simpleType name="GroupingMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Above" />
      <xs:enumeration value="Below" />
      <xs:enumeration value="IndividualValues" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GroupingMode" nillable="true" type="tns:GroupingMode" />
  <xs:simpleType name="MemberPropertyDisplayMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Listbox" />
      <xs:enumeration value="HorizontalBoxes" />
      <xs:enumeration value="VerticalBoxes" />
      <xs:enumeration value="SearchableList" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MemberPropertyDisplayMode" nillable="true" type="tns:MemberPropertyDisplayMode" />
  <xs:complexType name="FormPropertyViewAttributes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="ColSpan" type="xs:int" />
      <xs:element minOccurs="0" name="Column" type="xs:int" />
      <xs:element minOccurs="0" name="Group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreviewColumn" type="xs:int" />
      <xs:element minOccurs="0" name="Row" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormPropertyViewAttributes" nillable="true" type="tns:FormPropertyViewAttributes" />
  <xs:simpleType name="ReportMultipleValuesSplitBy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NeverSplit" />
      <xs:enumeration value="AlwaysSplit" />
      <xs:enumeration value="DecideOnUpload" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReportMultipleValuesSplitBy" nillable="true" type="tns:ReportMultipleValuesSplitBy" />
  <xs:complexType name="ArrayOfOptionDataListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OptionDataListItem" nillable="true" type="tns:OptionDataListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOptionDataListItem" nillable="true" type="tns:ArrayOfOptionDataListItem" />
  <xs:complexType name="ArrayOfLIVWP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LIVWP" nillable="true" type="tns:LIVWP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLIVWP" nillable="true" type="tns:ArrayOfLIVWP" />
  <xs:complexType name="LIVWP">
    <xs:sequence>
      <xs:element minOccurs="0" name="A" type="tns:ListValuePermission" />
      <xs:element minOccurs="0" name="B" nillable="true" type="tns:OptionDataListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LIVWP" nillable="true" type="tns:LIVWP" />
  <xs:simpleType name="ListValuePermission">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Everyone" />
      <xs:enumeration value="Originator" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ListValuePermission" nillable="true" type="tns:ListValuePermission" />
  <xs:simpleType name="SortOrder">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Standard" />
      <xs:enumeration value="NumbersHigher" />
      <xs:enumeration value="LettersHigher" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SortOrder" nillable="true" type="tns:SortOrder" />
  <xs:simpleType name="ValueDisplayMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="UpperCase" />
      <xs:enumeration value="LowerCase" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ValueDisplayMode" nillable="true" type="tns:ValueDisplayMode" />
  <xs:complexType name="OptionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfOptionDataListItem" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OriginalItemIds" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OptionData" nillable="true" type="tns:OptionData" />
  <xs:simpleType name="IconDisplayMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IconAndValues" />
      <xs:enumeration value="IconOnly" />
      <xs:enumeration value="ValuesOnly" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="IconDisplayMode" nillable="true" type="tns:IconDisplayMode" />
  <xs:simpleType name="ListDisplayMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Description" />
      <xs:enumeration value="CodeAndDescription" />
      <xs:enumeration value="Code" />
      <xs:enumeration value="IconAndDescription" />
      <xs:enumeration value="Icon" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ListDisplayMode" nillable="true" type="tns:ListDisplayMode" />
  <xs:simpleType name="ChangeCaseMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="UpperCase" />
      <xs:enumeration value="LowerCase" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ChangeCaseMode" nillable="true" type="tns:ChangeCaseMode" />
</xs:schema>