KeystoneDemo/ksWebServices/Service References/srKeystoneInstanceReadOnlyService/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Incite.DTO" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Incite.Utils.Members" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Incite.DTO.Accordion_DTOs" />
  <xs:import namespace="Incite" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Incite.Keystone" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Incite.DTO.Display.Properties" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Incite.DTO.Contacts" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Incite.Utils.Filter" />
  <xs:element name="PDFGenerateMessagePDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loggedInMember" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pdfType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberWindowsTimeZoneId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PDFGenerateMessagePDFResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecipientGetAccessibleRecipientsWithOriginator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="entityId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="searchText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isSystemAdmin" type="xs:boolean" />
        <xs:element minOccurs="0" name="originatorId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecipientGetAccessibleRecipientsWithOriginatorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="RecipientGetAccessibleRecipientsWithOriginatorResult" nillable="true" type="q1:ArrayOfRecipientDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecipientGetAccessibleRecipients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="entityId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="searchText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isSystemAdmin" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecipientGetAccessibleRecipientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="RecipientGetAccessibleRecipientsResult" nillable="true" type="q2:ArrayOfRecipientDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecipientSearchRecipients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maximumResults" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecipientSearchRecipientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="RecipientSearchRecipientsResult" nillable="true" type="q3:ArrayOfRecipientSearchResultDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectAllEntityGetEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectAllEntityGetEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectAllEntityGetEntitiesResult" nillable="true" type="q4:ArrayOfvProjectAllEntityDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectCompanyAllMemberGetMemberById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectCompanyAllMemberGetMemberByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectCompanyAllMemberGetMemberByIdResult" nillable="true" type="q5:ArrayOfvProjectCompanyAllMemberDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectCompanyAllMemberGetMemberListByProject">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectCompanyAllMemberGetMemberListByProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectCompanyAllMemberGetMemberListByProjectResult" nillable="true" type="q6:ArrayOfListItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectCompanyAllMemberGetMembersList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:long" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Incite.Utils.Members" minOccurs="0" name="criteria" type="q7:MemberCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectCompanyAllMemberGetMembersListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectCompanyAllMemberGetMembersListResult" nillable="true" type="q8:ArrayOfvProjectCompanyAllMemberDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectCompanyAllMemberGetMembersListView">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:long" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Incite.Utils.Members" minOccurs="0" name="criteria" type="q9:MemberCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectCompanyAllMemberGetMembersListViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectCompanyAllMemberGetMembersListViewResult" nillable="true" type="q10:ArrayOfvProjectCompanyAllMemberDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectCompanyCompanyAccessGroupExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:long" />
        <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectCompanyCompanyAccessGroupExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vProjectCompanyCompanyAccessGroupExistsResult" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectCompanyGetByProjectId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectCompanyGetByProjectIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectCompanyGetByProjectIdResult" nillable="true" type="q11:ArrayOfvProjectCompanyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterCreateFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="formId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="isMessage" type="xs:boolean" />
        <xs:element minOccurs="0" name="formTypeHeaderId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterCreateFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFilterCreateFilterResult" nillable="true" type="q12:FilterWithUiDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterGetFiltersByForms">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="formIds" nillable="true" type="q13:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterGetFiltersByFormsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFilterGetFiltersByFormsResult" nillable="true" type="q14:ArrayOfFilterBriefDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterCreateSubfilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentFilterID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterCreateSubfilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFilterCreateSubfilterResult" nillable="true" type="q15:FilterWithUiDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterCreateSubfilterUsingSearchableType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentFilterID" type="xs:long" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="searchableType" type="q16:SearchableType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterCreateSubfilterUsingSearchableTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFilterCreateSubfilterUsingSearchableTypeResult" nillable="true" type="q17:FilterWithUiDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterExecuteAccessFilterWithCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="criteria" nillable="true" type="q18:SearchPagingCriteriaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterExecuteAccessFilterWithCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFilterExecuteAccessFilterWithCriteriaResult" nillable="true" type="q19:SearchPagingDataSetResultDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterExecuteFilterWithCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="criteria" nillable="true" type="q20:SearchPagingCriteriaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterExecuteFilterWithCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFilterExecuteFilterWithCriteriaResult" nillable="true" type="q21:SearchPagingDataSetResultDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterExecuteFilterWithCriteriaFormProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="criteria" nillable="true" type="q22:SearchPagingCriteriaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterExecuteFilterWithCriteriaFormPropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFilterExecuteFilterWithCriteriaFormPropertiesResult" nillable="true" type="q23:SearchPagingDataSetResultDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterGetAncestorIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filterId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterGetAncestorIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFilterGetAncestorIdsResult" nillable="true" type="q24:FilterWizardIdDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterGetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FilterId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterGetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFilterGetByIdResult" nillable="true" type="q25:vProjectFilterDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterGetFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filterID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterGetFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFilterGetFilterResult" nillable="true" type="q26:FilterWithUiDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterGetFilterUsingSearchableType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filterID" type="xs:long" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="searchableType" type="q27:SearchableType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterGetFilterUsingSearchableTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFilterGetFilterUsingSearchableTypeResult" nillable="true" type="q28:FilterWithUiDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterGetFiltersByFormTypeHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="formTypeHeaderId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterGetFiltersByFormTypeHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFilterGetFiltersByFormTypeHeaderResult" nillable="true" type="q29:ArrayOfvProjectFilterDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterGetFormViewPropAndMessagePropByFilterId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filterId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterGetFormViewPropAndMessagePropByFilterIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vProjectFilterGetFormViewPropAndMessagePropByFilterIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterGetFormViewPropAndMessagePropByReportId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterGetFormViewPropAndMessagePropByReportIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vProjectFilterGetFormViewPropAndMessagePropByReportIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterGetSubFilters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentFilterId" type="xs:long" />
        <xs:element minOccurs="0" name="loggedInMemberId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterGetSubFiltersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Incite.DTO.Accordion_DTOs" minOccurs="0" name="vProjectFilterGetSubFiltersResult" nillable="true" type="q30:ArrayOfFilterTreeItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterGetSystemFormPropertiesByFilterId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filterId" type="xs:long" />
        <xs:element minOccurs="0" name="systemFormUniqueId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterGetSystemFormPropertiesByFilterIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFilterGetSystemFormPropertiesByFilterIdResult" nillable="true" type="q31:ArrayOfFilterFormPropertyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterMetadataGetFilterMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filterId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterMetadataGetFilterMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFilterMetadataGetFilterMetadataResult" nillable="true" type="q32:FullFilterMetadataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormEntityPermissionGetByRestrictionsByFormIDPermissionTypeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="formID" type="xs:long" />
        <xs:element minOccurs="0" name="permissionID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormEntityPermissionGetByRestrictionsByFormIDPermissionTypeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFormEntityPermissionGetByRestrictionsByFormIDPermissionTypeIDResult" nillable="true" type="q33:ArrayOfvProjectFormEntityPermissionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormEntityPermissionGetFormSendingPermissions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormEntityPermissionGetFormSendingPermissionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFormEntityPermissionGetFormSendingPermissionsResult" nillable="true" type="q34:ArrayOfPermissionCustomDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormFormInstanceCumulativeRecipients">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="Incite" minOccurs="0" name="instance" nillable="true" type="q35:FI" />
        <xs:element minOccurs="0" name="senderId" type="xs:long" />
        <xs:element minOccurs="0" name="senderEntityTypeId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormFormInstanceCumulativeRecipientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFormFormInstanceCumulativeRecipientsResult" nillable="true" type="q36:MessageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetAllFormsByProjectId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetAllFormsByProjectIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFormGetAllFormsByProjectIdResult" nillable="true" type="q37:ArrayOfvProjectFormDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetAllProjectFormsWithUniqueIdentifcationCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetAllProjectFormsWithUniqueIdentifcationCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFormGetAllProjectFormsWithUniqueIdentifcationCodeResult" nillable="true" type="q38:ArrayOfListItemWithValueDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FormId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFormGetByIdResult" nillable="true" type="q39:vProjectFormDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetFormAndPropertyDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="formId" type="xs:long" />
        <xs:element minOccurs="0" name="viewType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applyValuePermissions" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetFormAndPropertyDefinitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFormGetFormAndPropertyDefinitionResult" nillable="true" type="q40:FormAndPropertyDefinitionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetFormAndPropertyDefinitions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="formIds" nillable="true" type="q41:ArrayOflong" />
        <xs:element minOccurs="0" name="viewType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applyValuePermissions" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetFormAndPropertyDefinitionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFormGetFormAndPropertyDefinitionsResult" nillable="true" type="q42:ArrayOfFormAndPropertyDefinitionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetFormAndPropertyDefinitionsIncludingSystemFilterForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="formIds" nillable="true" type="q43:ArrayOflong" />
        <xs:element minOccurs="0" name="viewType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applyValuePermissions" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetFormAndPropertyDefinitionsIncludingSystemFilterFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFormGetFormAndPropertyDefinitionsIncludingSystemFilterFormResult" nillable="true" type="q44:ArrayOfFormAndPropertyDefinitionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetFormDefinitionAndInstancesByMessageId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="messageId" type="xs:long" />
        <xs:element minOccurs="0" name="viewType" nillable="true" type="xs:string" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Incite.Keystone" minOccurs="0" name="visibilityMode" type="q45:VisibilityMode" />
        <xs:element minOccurs="0" name="includeSystemFilterForm" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetFormDefinitionAndInstancesByMessageIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFormGetFormDefinitionAndInstancesByMessageIdResult" nillable="true" type="q46:FormDefinitionAndInstanceSetDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetFormInstancePropertyValueById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="formInstanceId" type="xs:long" />
        <xs:element minOccurs="0" name="mappingFieldOccurence" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetFormInstancePropertyValueByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="Incite" minOccurs="0" name="vProjectFormGetFormInstancePropertyValueByIdResult" nillable="true" type="q47:FV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetFormLayoutConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="formId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetFormLayoutConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFormGetFormLayoutConfigResult" nillable="true" type="q48:FormLayoutConfigDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetFormLinkingDTOList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="formIds" nillable="true" type="q49:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetFormLinkingDTOListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFormGetFormLinkingDTOListResult" nillable="true" type="q50:ArrayOfFormLinkingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetFormLinkingDTOsByInstanceIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="formInstanceIds" nillable="true" type="q51:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetFormLinkingDTOsByInstanceIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFormGetFormLinkingDTOsByInstanceIdsResult" nillable="true" type="q52:ArrayOfFormLinkingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetFormPropertyConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="formIds" nillable="true" type="q53:ArrayOflong" />
        <xs:element minOccurs="0" name="viewType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetFormPropertyConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFormGetFormPropertyConfigResult" nillable="true" type="q54:ArrayOfFormPropertyConfigDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetMessagesFilterTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="criteria" nillable="true" type="q55:SearchPagingCriteriaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetMessagesFilterTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFormGetMessagesFilterTableResult" nillable="true" type="q56:SearchPagingDataSetResultDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetFormDefinitionAndInstances">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="formInstanceIds" nillable="true" type="q57:ArrayOflong" />
        <xs:element minOccurs="0" name="originalViewType" nillable="true" type="xs:string" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Incite.Keystone" minOccurs="0" name="visibilityMode" type="q58:VisibilityMode" />
        <xs:element minOccurs="0" name="includeSystemFilterForm" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetFormDefinitionAndInstancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFormGetFormDefinitionAndInstancesResult" nillable="true" type="q59:FormDefinitionAndInstanceSetDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormPropertyGetByFormPropertyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="formPropertyId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormPropertyGetByFormPropertyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Incite.DTO.Display.Properties" minOccurs="0" name="vProjectFormPropertyGetByFormPropertyIdResult" nillable="true" type="q60:FormPropertyBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormPropertyGetByFormUniqueIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UniqueFormIds" nillable="true" type="q61:ArrayOfstring" />
        <xs:element minOccurs="0" name="ProjectUniqueId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormPropertyGetByFormUniqueIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFormPropertyGetByFormUniqueIdsResult" nillable="true" type="q62:ArrayOfvProjectFormPropertyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormPropertyGetFormPropertyListByProjectID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormPropertyGetFormPropertyListByProjectIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFormPropertyGetFormPropertyListByProjectIDResult" nillable="true" type="q63:ArrayOfListItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectGetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectGetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectGetByIdResult" nillable="true" type="q64:vProjectDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberGroupEntityGetByMemberGroupId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MemberGroupId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberGroupEntityGetByMemberGroupIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Incite.DTO.Contacts" minOccurs="0" name="vProjectMemberGroupEntityGetByMemberGroupIdResult" nillable="true" type="q65:ArrayOfBaseMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberGroupGetAllMemberGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberGroupGetAllMemberGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectMemberGroupGetAllMemberGroupsResult" nillable="true" type="q66:ArrayOfListItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberAuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberAuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectMemberAuthenticateUserResult" nillable="true" type="q67:MemberAuthenticationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberFindMembersToAddToProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sharedCompanyId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberFindMembersToAddToProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectMemberFindMembersToAddToProjectResult" nillable="true" type="q68:ArrayOfvMemberDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberGetListOfMembers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberGetListOfMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectMemberGetListOfMembersResult" nillable="true" type="q69:ArrayOfListItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberGetListOfMembersWithType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberGetListOfMembersWithTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectMemberGetListOfMembersWithTypeResult" nillable="true" type="q70:ArrayOfMemberInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberGetListOfOtherNonAdminMembers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberGetListOfOtherNonAdminMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectMemberGetListOfOtherNonAdminMembersResult" nillable="true" type="q71:ArrayOfListItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberGetLoggedInMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" type="xs:long" />
        <xs:element minOccurs="0" name="projectId" type="xs:long" />
        <xs:element minOccurs="0" name="includeDisabled" type="xs:boolean" />
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberGetLoggedInMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectMemberGetLoggedInMemberResult" nillable="true" type="q72:LoggedInMemberDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberGetLoggedInMemberByEntityTypeId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" type="xs:long" />
        <xs:element minOccurs="0" name="entityTypeId" type="xs:long" />
        <xs:element minOccurs="0" name="projectId" type="xs:long" />
        <xs:element minOccurs="0" name="includeDisabled" type="xs:boolean" />
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberGetLoggedInMemberByEntityTypeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectMemberGetLoggedInMemberByEntityTypeIdResult" nillable="true" type="q73:LoggedInMemberDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberGetMemberById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberGetMemberByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectMemberGetMemberByIdResult" nillable="true" type="q74:vProjectMemberDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberGetMemberTimeZoneOffsetByMemberId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberGetMemberTimeZoneOffsetByMemberIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vProjectMemberGetMemberTimeZoneOffsetByMemberIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberGetMemberWithAddresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" type="xs:long" />
        <xs:element minOccurs="0" name="projectId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberGetMemberWithAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectMemberGetMemberWithAddressesResult" nillable="true" type="q75:vProjectMemberDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberGetProjectEntities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberGetProjectEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectMemberGetProjectEntitiesResult" nillable="true" type="q76:ArrayOfProjectEntityDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberLookupMembersForCopy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:long" />
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMemberLookupMembersForCopyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectMemberLookupMembersForCopyResult" nillable="true" type="q77:ArrayOfListItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMessageLinkGetByLinkId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LinkId" type="q78:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMessageLinkGetByLinkIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectMessageLinkGetByLinkIdResult" nillable="true" type="q79:vProjectMessageLinkDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMessageGetPotentialRecipientCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMessageGetPotentialRecipientCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectMessageGetPotentialRecipientCategoriesResult" nillable="true" type="q80:MessagePotentialRecipientsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMessageRecipientCheckMessageByExternalMemeberId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="externalMemberId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectMessageRecipientCheckMessageByExternalMemeberIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vProjectMessageRecipientCheckMessageByExternalMemeberIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectReportGetReportByProjectId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectReportGetReportByProjectIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectReportGetReportByProjectIdResult" nillable="true" type="q81:ArrayOfvProjectReportDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vSharedMemberCompanyGetByMemberId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vSharedMemberCompanyGetByMemberIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vSharedMemberCompanyGetByMemberIdResult" nillable="true" type="q82:vSharedMemberCompanyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectCompanyAllMemberGetExternalMembersByProjectIdAndMemberId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectId" type="xs:long" />
        <xs:element minOccurs="0" name="MemberId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectCompanyAllMemberGetExternalMembersByProjectIdAndMemberIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectCompanyAllMemberGetExternalMembersByProjectIdAndMemberIdResult" nillable="true" type="q83:vProjectCompanyAllMemberDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectCompanyGetByProjectIdAndCompanyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectId" type="xs:long" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectCompanyGetByProjectIdAndCompanyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectCompanyGetByProjectIdAndCompanyIdResult" nillable="true" type="q84:vProjectCompanyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectCompanyAllMemberManagerGetInternalMembersByCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectId" type="xs:long" />
        <xs:element minOccurs="0" name="Query" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Order" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectCompanyAllMemberManagerGetInternalMembersByCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectCompanyAllMemberManagerGetInternalMembersByCriteriaResult" nillable="true" type="q85:ArrayOfvProjectCompanyAllMemberDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectCompanyAllMemberManagerGetInternalMemberTotalCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectCompanyAllMemberManagerGetInternalMemberTotalCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vProjectCompanyAllMemberManagerGetInternalMemberTotalCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterManagerGetContactsFilterByProjectIdAndContactFilterCategoryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectId" type="xs:long" />
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Incite.Utils.Filter" minOccurs="0" name="categoryType" type="q86:ContactFilterCategoryType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterManagerGetContactsFilterByProjectIdAndContactFilterCategoryTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFilterManagerGetContactsFilterByProjectIdAndContactFilterCategoryTypeResult" nillable="true" type="q87:vProjectFilterDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterManagerGetDistributionOrMemberGroupFilterByProjectIdAndFilterCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupId" type="xs:long" />
        <xs:element minOccurs="0" name="EntityId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterManagerGetDistributionOrMemberGroupFilterByProjectIdAndFilterCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFilterManagerGetDistributionOrMemberGroupFilterByProjectIdAndFilterCategoryResult" nillable="true" type="q88:vProjectFilterDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetProjectFormsFilteredByProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:long" />
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Incite.Keystone" minOccurs="0" name="containPropertiesOtherThan" nillable="true" type="q89:ArrayOfPropertyTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetProjectFormsFilteredByPropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFormGetProjectFormsFilteredByPropertiesResult" nillable="true" type="q90:ArrayOfListItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetProjectForms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetProjectFormsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFormGetProjectFormsResult" nillable="true" type="q91:ArrayOfListItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetProjectFormsAllowedToCopy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetProjectFormsAllowedToCopyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFormGetProjectFormsAllowedToCopyResult" nillable="true" type="q92:ArrayOfListItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VProjectFormGetProjectFormsAsListStringItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VProjectFormGetProjectFormsAsListStringItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="VProjectFormGetProjectFormsAsListStringItemResult" nillable="true" type="q93:ArrayOfListStringItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VProjectMemberGetVProjectMemberDtosByIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="memberIds" nillable="true" type="q94:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VProjectMemberGetVProjectMemberDtosByIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="VProjectMemberGetVProjectMemberDtosByIdsResult" nillable="true" type="q95:ArrayOfvProjectMemberDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VProjectFilterCreateSubMessageFilterOrTransposeToCustom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromFilterId" type="xs:long" />
        <xs:element minOccurs="0" name="newfilterName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VProjectFilterCreateSubMessageFilterOrTransposeToCustomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="VProjectFilterCreateSubMessageFilterOrTransposeToCustomResult" nillable="true" type="q96:FilterConfigDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterGetAllFilterIdsThatSupportViewerForCurrentProject">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterGetAllFilterIdsThatSupportViewerForCurrentProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="vProjectFilterGetAllFilterIdsThatSupportViewerForCurrentProjectResult" nillable="true" type="q97:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetViewerMarkupSettingsByFilterId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filterId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFormGetViewerMarkupSettingsByFilterIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFormGetViewerMarkupSettingsByFilterIdResult" nillable="true" type="q98:ViewerMarkupSettingsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterGetFiltersByFormTypeHeaders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="formTypeHeaderIds" nillable="true" type="q99:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vProjectFilterGetFiltersByFormTypeHeadersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/Incite.DTO" minOccurs="0" name="vProjectFilterGetFiltersByFormTypeHeadersResult" nillable="true" type="q100:ArrayOfvProjectFilterDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>