KeystoneDemo/ksWebServices/Service References/srPortalSystemSessionService/Incite.Portal.Web.Services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Incite.Portal.Web.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Incite.Portal.Web.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ValidateTokenResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="MemberId" type="xs:long" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:long" />
      <xs:element minOccurs="0" name="Status" type="tns:ValidateTokenStatus" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateTokenResult" nillable="true" type="tns:ValidateTokenResult" />
  <xs:simpleType name="ValidateTokenStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="TokenNotProvided" />
      <xs:enumeration value="TokenExpired" />
      <xs:enumeration value="TokenInvalid" />
      <xs:enumeration value="ProcessingError" />
      <xs:enumeration value="Success" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ValidateTokenStatus" nillable="true" type="tns:ValidateTokenStatus" />
</xs:schema>