KeystoneDemo/ksWebServices/Service References/srKeystoneInstanceService/Incite.Viewer.PivotServer.Support.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Incite.Viewer.PivotServer.Support" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Incite.Viewer.PivotServer.Support" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Globalization" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Incite.Viewer.PivotServer.Support.Internal" />
  <xs:complexType name="ImageCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="CollectionKey" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Globalization" minOccurs="0" name="Culture" nillable="true" type="q1:CultureInfo" />
      <xs:element minOccurs="0" name="EnableInfoPaneBingSearch" type="xs:boolean" />
      <xs:element minOccurs="0" name="FacetCategories" nillable="true" type="tns:FacetCategoryCollection" />
      <xs:element minOccurs="0" name="FilterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HrefBase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IconUrl" nillable="true" type="xs:anyURI" />
      <xs:element minOccurs="0" name="IconUrlString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsMultiPageCollection" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Incite.Viewer.PivotServer.Support.Internal" minOccurs="0" name="Items" nillable="true" type="q2:ArrayOfCollectionItem" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchemaVersion" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageCollection" nillable="true" type="tns:ImageCollection" />
  <xs:complexType name="FacetCategoryCollection">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Incite.Viewer.PivotServer.Support.Internal" minOccurs="0" maxOccurs="unbounded" name="FacetCategory" nillable="true" type="q3:FacetCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FacetCategoryCollection" nillable="true" type="tns:FacetCategoryCollection" />
  <xs:simpleType name="FacetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Text" />
      <xs:enumeration value="Number" />
      <xs:enumeration value="DateTime" />
      <xs:enumeration value="Link" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FacetType" nillable="true" type="tns:FacetType" />
  <xs:complexType name="ArrayOfFacet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Facet" nillable="true" type="tns:Facet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFacet" nillable="true" type="tns:ArrayOfFacet" />
  <xs:complexType name="Facet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataType" type="tns:FacetType" />
      <xs:element minOccurs="0" name="RequiresEncryption" type="xs:boolean" />
      <xs:element minOccurs="0" name="RequiresEncryptionForFiInfo" type="xs:boolean" />
      <xs:element minOccurs="0" name="RequiresEncryptionIdToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequiresEncryptionUrlToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tag" nillable="true" type="tns:FacetTagValue" />
      <xs:element minOccurs="0" name="Tags" nillable="true" type="tns:ArrayOfFacetTagValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Facet" nillable="true" type="tns:Facet" />
  <xs:complexType name="FacetTagValue">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="FacetTagValue" nillable="true" type="tns:FacetTagValue" />
  <xs:complexType name="FacetTagValueHyperlink">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FacetTagValue">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FacetTagValueHyperlink" nillable="true" type="tns:FacetTagValueHyperlink" />
  <xs:complexType name="FacetTagValueDateTime">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FacetTagValue">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FacetTagValueDateTime" nillable="true" type="tns:FacetTagValueDateTime" />
  <xs:complexType name="FacetTagValueDouble">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FacetTagValue">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FacetTagValueDouble" nillable="true" type="tns:FacetTagValueDouble" />
  <xs:complexType name="FacetTagValueString">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FacetTagValue">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FacetTagValueString" nillable="true" type="tns:FacetTagValueString" />
  <xs:complexType name="ArrayOfFacetTagValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FacetTagValue" nillable="true" type="tns:FacetTagValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFacetTagValue" nillable="true" type="tns:ArrayOfFacetTagValue" />
</xs:schema>