KeystoneDemo/ksWebServices/Service References/srKeystoneInstanceService/Incite.DTO.Audit.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Incite.DTO.Audit" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Incite.DTO.Audit" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDifferenceInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DifferenceInfoDTO" nillable="true" type="tns:DifferenceInfoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDifferenceInfoDTO" nillable="true" type="tns:ArrayOfDifferenceInfoDTO" />
  <xs:complexType name="DifferenceInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionType" type="tns:AuditActionType" />
      <xs:element minOccurs="0" name="Changes" nillable="true" type="tns:ArrayOfChange" />
      <xs:element minOccurs="0" name="ChildObjectId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ChildObjectTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EditedByAsEntityId" type="xs:long" />
      <xs:element minOccurs="0" name="EditedByAsEntityTypeId" type="xs:long" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectId" type="xs:long" />
      <xs:element minOccurs="0" name="ObjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DifferenceInfoDTO" nillable="true" type="tns:DifferenceInfoDTO" />
  <xs:simpleType name="AuditActionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Created" />
      <xs:enumeration value="Edited" />
      <xs:enumeration value="Deleted" />
      <xs:enumeration value="Copied" />
      <xs:enumeration value="Uploaded" />
      <xs:enumeration value="Downloaded" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AuditActionType" nillable="true" type="tns:AuditActionType" />
  <xs:complexType name="ArrayOfChange">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Change" nillable="true" type="tns:Change" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChange" nillable="true" type="tns:ArrayOfChange" />
  <xs:complexType name="Change">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RawNewValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RawOldValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Change" nillable="true" type="tns:Change" />
</xs:schema>