KeystoneDemo/ksWebServices/Service References/srKeystoneInstanceService/Incite.Instance.Business.Audit.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Incite.Instance.Business.Audit" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Incite.Instance.Business.Audit" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Incite.DTO" />
  <xs:complexType name="AuditSearchCriteria">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Incite.DTO" name="EditedBy" nillable="true" type="q1:ArrayOfEntityIdDTO" />
      <xs:element name="ObjectName" nillable="true" type="xs:string" />
      <xs:element name="ProjectId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuditSearchCriteria" nillable="true" type="tns:AuditSearchCriteria" />
  <xs:complexType name="AuditSearchCriteriaPage">
    <xs:sequence>
      <xs:element name="Criteria" nillable="true" type="tns:AuditSearchCriteria" />
      <xs:element name="PageNumber" type="xs:int" />
      <xs:element name="PageSize" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuditSearchCriteriaPage" nillable="true" type="tns:AuditSearchCriteriaPage" />
</xs:schema>