KeystoneDemo/ksWebServices/Service References/srKeystoneInstanceService/Incite.Queue.Dto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Incite.Queue.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Incite.Queue.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="QueueStatusDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentActiveErrorCount" type="xs:long" />
      <xs:element minOccurs="0" name="QueuesAndStatus" nillable="true" type="tns:ArrayOfQueueStatusInformationDto" />
      <xs:element minOccurs="0" name="SnapshotTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueStatusDto" nillable="true" type="tns:QueueStatusDto" />
  <xs:complexType name="ArrayOfQueueStatusInformationDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueStatusInformationDto" nillable="true" type="tns:QueueStatusInformationDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueueStatusInformationDto" nillable="true" type="tns:ArrayOfQueueStatusInformationDto" />
  <xs:complexType name="QueueStatusInformationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorWhileProcessing" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorsPerCategory" nillable="true" type="tns:ArrayOfQueueErrorStatsDto" />
      <xs:element minOccurs="0" name="ItemsWaiting" type="xs:long" />
      <xs:element minOccurs="0" name="ItemsWaitingForRetry" type="xs:long" />
      <xs:element minOccurs="0" name="QueueName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueStatusInformationDto" nillable="true" type="tns:QueueStatusInformationDto" />
  <xs:complexType name="ArrayOfQueueErrorStatsDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueErrorStatsDto" nillable="true" type="tns:QueueErrorStatsDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueueErrorStatsDto" nillable="true" type="tns:ArrayOfQueueErrorStatsDto" />
  <xs:complexType name="QueueErrorStatsDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Errors" type="xs:long" />
      <xs:element minOccurs="0" name="ItemsScheduledForRetry" type="xs:long" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueErrorStatsDto" nillable="true" type="tns:QueueErrorStatsDto" />
  <xs:complexType name="QueueErrorSearchCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPage" type="xs:int" />
      <xs:element minOccurs="0" name="DateAfter" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateBefore" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MaxResults" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="QueueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowScheduledForRetry" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueErrorSearchCriteria" nillable="true" type="tns:QueueErrorSearchCriteria" />
  <xs:complexType name="QueueErrorSearchResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndRecordNumber" type="xs:long" />
      <xs:element minOccurs="0" name="Results" nillable="true" type="tns:ArrayOfQueueErrorDto" />
      <xs:element minOccurs="0" name="StartRecordNumber" type="xs:long" />
      <xs:element minOccurs="0" name="TotalRows" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueErrorSearchResults" nillable="true" type="tns:QueueErrorSearchResults" />
  <xs:complexType name="ArrayOfQueueErrorDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueErrorDto" nillable="true" type="tns:QueueErrorDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueueErrorDto" nillable="true" type="tns:ArrayOfQueueErrorDto" />
  <xs:complexType name="QueueErrorDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MessageLength" type="xs:long" />
      <xs:element minOccurs="0" name="ModifiedBy" type="xs:long" />
      <xs:element minOccurs="0" name="ProcessingStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QueueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QueueRequestId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueErrorDto" nillable="true" type="tns:QueueErrorDto" />
</xs:schema>