KeystoneDemo/ksWebServices/Service References/srKeystoneInstanceService/Incite.DTO.FileUpload.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Incite.DTO.FileUpload" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Incite.DTO.FileUpload" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFileUploadFilePropertyDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileUploadFilePropertyDefinition" nillable="true" type="tns:FileUploadFilePropertyDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileUploadFilePropertyDefinition" nillable="true" type="tns:ArrayOfFileUploadFilePropertyDefinition" />
  <xs:complexType name="FileUploadFilePropertyDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Editable" type="xs:boolean" />
      <xs:element minOccurs="0" name="FileNamingConventionRegex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilePropertyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormPropertyId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileUploadFilePropertyDefinition" nillable="true" type="tns:FileUploadFilePropertyDefinition" />
  <xs:complexType name="ArrayOfFileToFormPropertyAssociation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileToFormPropertyAssociation" nillable="true" type="tns:FileToFormPropertyAssociation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileToFormPropertyAssociation" nillable="true" type="tns:ArrayOfFileToFormPropertyAssociation" />
  <xs:complexType name="FileToFormPropertyAssociation">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormPropertyId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileToFormPropertyAssociation" nillable="true" type="tns:FileToFormPropertyAssociation" />
</xs:schema>