KeystoneDemo/ksWebServices/Service References/srKeystoneInstanceService/Incite.DTO.Queue.Messages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Incite.DTO.Queue.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Incite.DTO.Queue.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MessageNotificationPayload">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntityTypeId" type="xs:long" />
      <xs:element minOccurs="0" name="MemberId" type="xs:long" />
      <xs:element minOccurs="0" name="MessageId" type="xs:long" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:long" />
      <xs:element minOccurs="0" name="RecipientEntityId" type="xs:long" />
      <xs:element minOccurs="0" name="RecipientEntityTypeId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageNotificationPayload" nillable="true" type="tns:MessageNotificationPayload" />
  <xs:complexType name="MessageQueuePayload">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntityTypeId" type="xs:long" />
      <xs:element minOccurs="0" name="MemberId" type="xs:long" />
      <xs:element minOccurs="0" name="MessageId" type="xs:long" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageQueuePayload" nillable="true" type="tns:MessageQueuePayload" />
</xs:schema>