KeystoneDemo/ksWebServices/Service References/srKeystoneInstanceService/Incite.DTO.Filter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Incite.DTO.Filter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Incite.DTO.Filter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="FilterListSortingMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Value" />
      <xs:enumeration value="Id" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FilterListSortingMode" nillable="true" type="tns:FilterListSortingMode" />
  <xs:simpleType name="MessageFlagFilterOptions">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="FlagNotSet" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="FlaggedAnyDate" />
      <xs:enumeration value="FlaggedWithNoDate" />
      <xs:enumeration value="FlagedWithDate" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageFlagFilterOptions" nillable="true" type="tns:MessageFlagFilterOptions" />
  <xs:simpleType name="AccessibleDevice">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Iphone">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AccessibleDevice" nillable="true" type="tns:AccessibleDevice" />
  <xs:complexType name="ArrayOfDynamicFilterOption">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DynamicFilterOption" nillable="true" type="tns:DynamicFilterOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDynamicFilterOption" nillable="true" type="tns:ArrayOfDynamicFilterOption" />
  <xs:complexType name="DynamicFilterOption">
    <xs:sequence>
      <xs:element minOccurs="0" name="FormName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyId" type="xs:long" />
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowHeader" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DynamicFilterOption" nillable="true" type="tns:DynamicFilterOption" />
</xs:schema>