KeystoneDemo/ksWebServices/Service References/srKeystoneInstanceService/Incite.Utils.Serialization.Classes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Incite.Utils.Serialization.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Incite.Utils.Serialization.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="Incite" />
  <xs:complexType name="ArrayOfFileUploadResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileUploadResult" nillable="true" type="tns:FileUploadResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileUploadResult" nillable="true" type="tns:ArrayOfFileUploadResult" />
  <xs:complexType name="FileUploadResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FormPropertyFailed" nillable="true" type="q1:ArrayOflong" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FormPropertySuccess" nillable="true" type="q2:ArrayOflong" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="tns:UploadResultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileUploadResult" nillable="true" type="tns:FileUploadResult" />
  <xs:simpleType name="UploadResultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Uploaded" />
      <xs:enumeration value="Virus" />
      <xs:enumeration value="NamingConvention" />
      <xs:enumeration value="OtherError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UploadResultType" nillable="true" type="tns:UploadResultType" />
  <xs:complexType name="DownloadResultList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileDownloadResult" nillable="true" type="tns:FileDownloadResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DownloadResultList" nillable="true" type="tns:DownloadResultList" />
  <xs:complexType name="FileDownloadResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="DownloadFrom" type="tns:DownloadFileFrom" />
      <xs:element minOccurs="0" name="FileGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="FileLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultType" type="tns:DownloadResultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileDownloadResult" nillable="true" type="tns:FileDownloadResult" />
  <xs:simpleType name="DownloadFileFrom">
    <xs:restriction base="xs:string">
      <xs:enumeration value="S3" />
      <xs:enumeration value="SharedStorage" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DownloadFileFrom" nillable="true" type="tns:DownloadFileFrom" />
  <xs:simpleType name="DownloadResultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ReadyForDownload" />
      <xs:enumeration value="FileNotExist" />
      <xs:enumeration value="DownloadErrors" />
      <xs:enumeration value="FormInstanceInvalidated" />
      <xs:enumeration value="TokenInvalid" />
      <xs:enumeration value="ReportNotExist" />
      <xs:enumeration value="FileNoLongerExists" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DownloadResultType" nillable="true" type="tns:DownloadResultType" />
  <xs:complexType name="FolderMetadata">
    <xs:sequence>
      <xs:element xmlns:q3="Incite" minOccurs="0" name="FileAttachment" nillable="true" type="q3:FA" />
      <xs:element minOccurs="0" name="FolderPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FolderMetadata" nillable="true" type="tns:FolderMetadata" />
  <xs:simpleType name="ThumbnailSizeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Small" />
      <xs:enumeration value="Large" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ThumbnailSizeType" nillable="true" type="tns:ThumbnailSizeType" />
  <xs:complexType name="FileThumbnailDownloadResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExternalFileLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileContents" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ResultType" type="tns:DownloadResultType" />
      <xs:element minOccurs="0" name="ThumbnailForFileGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="ThumbnailForFilename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThumbnailSizeType" type="tns:ThumbnailSizeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileThumbnailDownloadResult" nillable="true" type="tns:FileThumbnailDownloadResult" />
</xs:schema>