KeystoneDemo/ksWebServices/Service References/srKeystoneInstanceService/Incite.Viewer.PivotServer.Support.Internal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Incite.Viewer.PivotServer.Support.Internal" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Incite.Viewer.PivotServer.Support.Internal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Incite.Viewer.PivotServer.Support" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Incite.Utils.Images" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Incite.Viewer.PivotServer.Support.Internal.ImageProviders" />
  <xs:complexType name="FacetCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayFormat" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Incite.Viewer.PivotServer.Support" minOccurs="0" name="FacetType" type="q1:FacetType" />
      <xs:element minOccurs="0" name="IsShowInFacetPane" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsShowInInfoPane" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTextFilter" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FacetCategory" nillable="true" type="tns:FacetCategory" />
  <xs:complexType name="ArrayOfCollectionItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CollectionItem" nillable="true" type="tns:CollectionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCollectionItem" nillable="true" type="tns:ArrayOfCollectionItem" />
  <xs:complexType name="CollectionItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentCollectionKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Incite.Viewer.PivotServer.Support" minOccurs="0" name="FacetValues" nillable="true" type="q2:ArrayOfFacet" />
      <xs:element minOccurs="0" name="FileGuid" type="ser:guid" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Incite.Utils.Images" minOccurs="0" name="ImageFormat" type="q3:ImageFormatType" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Incite.Viewer.PivotServer.Support.Internal.ImageProviders" minOccurs="0" name="ImageProvider" nillable="true" type="q4:ImageProviderBase" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CollectionItem" nillable="true" type="tns:CollectionItem" />
</xs:schema>