KeystoneDemo/ksWebServices/Service References/srKeystoneInstanceService/Incite.Instance.Search.Indexing.Queue.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Incite.Instance.Search.Indexing.Queue" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Incite.Instance.Search.Indexing.Queue" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Incite.Instance.Search.Documents" />
  <xs:complexType name="FIUR">
    <xs:sequence>
      <xs:element minOccurs="0" name="FID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="FIID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="LFIID" type="xs:long" />
      <xs:element minOccurs="0" name="MID" type="xs:long" />
      <xs:element minOccurs="0" name="PIID" type="xs:long" />
      <xs:element minOccurs="0" name="UFDs" type="xs:boolean" />
      <xs:element minOccurs="0" name="UFI" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FIUR" nillable="true" type="tns:FIUR" />
  <xs:complexType name="CIR">
    <xs:sequence>
      <xs:element minOccurs="0" name="Detail" nillable="true" type="tns:CIRB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CIR" nillable="true" type="tns:CIR" />
  <xs:complexType name="CIRB">
    <xs:sequence>
      <xs:element minOccurs="0" name="RequestingInternalMemberId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CIRB" nillable="true" type="tns:CIRB" />
  <xs:complexType name="IRB">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CIRB">
        <xs:sequence>
          <xs:element minOccurs="0" name="DsTI" nillable="true" type="tns:ArrayOfDTI" />
          <xs:element minOccurs="0" name="IsUpdate" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IRB" nillable="true" type="tns:IRB" />
  <xs:complexType name="ArrayOfDTI">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTI" nillable="true" type="tns:DTI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTI" nillable="true" type="tns:ArrayOfDTI" />
  <xs:complexType name="DTI">
    <xs:sequence>
      <xs:element minOccurs="0" name="FC" type="xs:boolean" />
      <xs:element minOccurs="0" name="FGUID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="FID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="FIID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="FN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MID" type="xs:long" />
      <xs:element minOccurs="0" name="PID" type="xs:long" />
      <xs:element minOccurs="0" name="QS" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Incite.Instance.Search.Documents" minOccurs="0" name="T" type="q1:typ" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTI" nillable="true" type="tns:DTI" />
  <xs:complexType name="FCER">
    <xs:sequence>
      <xs:element minOccurs="0" name="Files" nillable="true" type="tns:ArrayOfFileToExtractFrom" />
      <xs:element minOccurs="0" name="IsUpdate" type="xs:boolean" />
      <xs:element minOccurs="0" name="MessageId" type="xs:long" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:long" />
      <xs:element minOccurs="0" name="RequestType" type="tns:ContentExtractionRequestType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FCER" nillable="true" type="tns:FCER" />
  <xs:complexType name="ArrayOfFileToExtractFrom">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileToExtractFrom" nillable="true" type="tns:FileToExtractFrom" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileToExtractFrom" nillable="true" type="tns:ArrayOfFileToExtractFrom" />
  <xs:complexType name="FileToExtractFrom">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileSizeByte" type="xs:long" />
      <xs:element minOccurs="0" name="FormId" type="xs:long" />
      <xs:element minOccurs="0" name="FormInstanceId" type="xs:long" />
      <xs:element minOccurs="0" name="IncludeInFilterCriteria" type="xs:boolean" />
      <xs:element minOccurs="0" name="IncludeInQuickSearch" type="xs:boolean" />
      <xs:element minOccurs="0" name="MessageId" type="xs:long" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileToExtractFrom" nillable="true" type="tns:FileToExtractFrom" />
  <xs:simpleType name="ContentExtractionRequestType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ByMessageId" />
      <xs:enumeration value="FromFileList" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ContentExtractionRequestType" nillable="true" type="tns:ContentExtractionRequestType" />
</xs:schema>