KeystoneDemo/ksWebServices/Service References/srKeystoneInstanceService/System.Numerics.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Numerics" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Numerics" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="BigInteger">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_bits" nillable="true" type="q1:ArrayOfunsignedInt" />
      <xs:element name="_sign" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BigInteger" nillable="true" type="tns:BigInteger" />
</xs:schema>