KeystoneDemo/ksWebServices/Service References/srKeystoneInstanceService/System.Data.Objects.DataClasses.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EntityObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q1:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityObject" nillable="true" type="tns:EntityObject" />
  <xs:complexType name="StructuralObject">
    <xs:sequence />
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="StructuralObject" nillable="true" type="tns:StructuralObject" />
  <xs:complexType name="EntityReferenceOfFiltergRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Filter" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfFiltergRKRhBZ0" nillable="true" type="tns:EntityReferenceOfFiltergRKRhBZ0" />
  <xs:complexType name="EntityReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RelatedEnd">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q2:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReference" nillable="true" type="tns:EntityReference" />
  <xs:complexType name="RelatedEnd">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="RelatedEnd" nillable="true" type="tns:RelatedEnd" />
  <xs:complexType name="EntityReferenceOfColumnsMetadatagRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ColumnsMetadata" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfColumnsMetadatagRKRhBZ0" nillable="true" type="tns:EntityReferenceOfColumnsMetadatagRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfFilterAccessingDevicegRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="FilterAccessingDevice" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfFilterAccessingDevicegRKRhBZ0" nillable="true" type="tns:EntityReferenceOfFilterAccessingDevicegRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfFilterDisplaySectiongRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="FilterDisplaySection" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfFilterDisplaySectiongRKRhBZ0" nillable="true" type="tns:EntityReferenceOfFilterDisplaySectiongRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfFilterConditionGroupgRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="FilterConditionGroup" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfFilterConditionGroupgRKRhBZ0" nillable="true" type="tns:EntityReferenceOfFilterConditionGroupgRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfFormPropertygRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="FormProperty" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfFormPropertygRKRhBZ0" nillable="true" type="tns:EntityReferenceOfFormPropertygRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfFormPropertyTypegRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="FormPropertyType" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfFormPropertyTypegRKRhBZ0" nillable="true" type="tns:EntityReferenceOfFormPropertyTypegRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfFormTypegRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="FormType" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfFormTypegRKRhBZ0" nillable="true" type="tns:EntityReferenceOfFormTypegRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfRuleFormActiongRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RuleFormAction" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfRuleFormActiongRKRhBZ0" nillable="true" type="tns:EntityReferenceOfRuleFormActiongRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfRulegRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Rule" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfRulegRKRhBZ0" nillable="true" type="tns:EntityReferenceOfRulegRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfFormTemplategRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="FormTemplate" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfFormTemplategRKRhBZ0" nillable="true" type="tns:EntityReferenceOfFormTemplategRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfBlockHeadergRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="BlockHeader" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfBlockHeadergRKRhBZ0" nillable="true" type="tns:EntityReferenceOfBlockHeadergRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfProjectgRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Project" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfProjectgRKRhBZ0" nillable="true" type="tns:EntityReferenceOfProjectgRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfCompanyAccessGroupgRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CompanyAccessGroup" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfCompanyAccessGroupgRKRhBZ0" nillable="true" type="tns:EntityReferenceOfCompanyAccessGroupgRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfExternalMembergRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ExternalMember" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfExternalMembergRKRhBZ0" nillable="true" type="tns:EntityReferenceOfExternalMembergRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfInstanceCountrygRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="InstanceCountry" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfInstanceCountrygRKRhBZ0" nillable="true" type="tns:EntityReferenceOfInstanceCountrygRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfCompanygRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Company" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfCompanygRKRhBZ0" nillable="true" type="tns:EntityReferenceOfCompanygRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfInstancegRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Instance" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfInstancegRKRhBZ0" nillable="true" type="tns:EntityReferenceOfInstancegRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfInstanceTimeZonegRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="InstanceTimeZone" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfInstanceTimeZonegRKRhBZ0" nillable="true" type="tns:EntityReferenceOfInstanceTimeZonegRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfInstanceCulturegRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="InstanceCulture" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfInstanceCulturegRKRhBZ0" nillable="true" type="tns:EntityReferenceOfInstanceCulturegRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfMembergRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Member" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfMembergRKRhBZ0" nillable="true" type="tns:EntityReferenceOfMembergRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfMarkupSessionObjectTypegRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="MarkupSessionObjectType" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfMarkupSessionObjectTypegRKRhBZ0" nillable="true" type="tns:EntityReferenceOfMarkupSessionObjectTypegRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfMarkupSessiongRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="MarkupSession" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfMarkupSessiongRKRhBZ0" nillable="true" type="tns:EntityReferenceOfMarkupSessiongRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfPermissiongRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Permission" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfPermissiongRKRhBZ0" nillable="true" type="tns:EntityReferenceOfPermissiongRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfDistributionGroupgRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DistributionGroup" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfDistributionGroupgRKRhBZ0" nillable="true" type="tns:EntityReferenceOfDistributionGroupgRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfFacsimilegRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Facsimile" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfFacsimilegRKRhBZ0" nillable="true" type="tns:EntityReferenceOfFacsimilegRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfRolegRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Role" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfRolegRKRhBZ0" nillable="true" type="tns:EntityReferenceOfRolegRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfMessagegRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Message" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfMessagegRKRhBZ0" nillable="true" type="tns:EntityReferenceOfMessagegRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfAnnotationsgRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Annotations" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfAnnotationsgRKRhBZ0" nillable="true" type="tns:EntityReferenceOfAnnotationsgRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfReportgRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Report" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfReportgRKRhBZ0" nillable="true" type="tns:EntityReferenceOfReportgRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfInternetAddressgRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="InternetAddress" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfInternetAddressgRKRhBZ0" nillable="true" type="tns:EntityReferenceOfInternetAddressgRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfPostalAddressgRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PostalAddress" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfPostalAddressgRKRhBZ0" nillable="true" type="tns:EntityReferenceOfPostalAddressgRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfTelecomAddressgRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TelecomAddress" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTelecomAddressgRKRhBZ0" nillable="true" type="tns:EntityReferenceOfTelecomAddressgRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfDifferencegRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Difference" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfDifferencegRKRhBZ0" nillable="true" type="tns:EntityReferenceOfDifferencegRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfInstanceDSNgRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="InstanceDSN" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfInstanceDSNgRKRhBZ0" nillable="true" type="tns:EntityReferenceOfInstanceDSNgRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfMemberGroupgRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="MemberGroup" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfMemberGroupgRKRhBZ0" nillable="true" type="tns:EntityReferenceOfMemberGroupgRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfProjectModegRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ProjectMode" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfProjectModegRKRhBZ0" nillable="true" type="tns:EntityReferenceOfProjectModegRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfTextTemplategRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TextTemplate" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTextTemplategRKRhBZ0" nillable="true" type="tns:EntityReferenceOfTextTemplategRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfWorkflowgRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Workflow" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfWorkflowgRKRhBZ0" nillable="true" type="tns:EntityReferenceOfWorkflowgRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfRuleConditionOperatorgRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RuleConditionOperator" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfRuleConditionOperatorgRKRhBZ0" nillable="true" type="tns:EntityReferenceOfRuleConditionOperatorgRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfOperatorgRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Operator" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfOperatorgRKRhBZ0" nillable="true" type="tns:EntityReferenceOfOperatorgRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfFormTypeHeadergRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="FormTypeHeader" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfFormTypeHeadergRKRhBZ0" nillable="true" type="tns:EntityReferenceOfFormTypeHeadergRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfFormInstancegRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="FormInstance" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfFormInstancegRKRhBZ0" nillable="true" type="tns:EntityReferenceOfFormInstancegRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfWorkflowDescriptiongRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="WorkflowDescription" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfWorkflowDescriptiongRKRhBZ0" nillable="true" type="tns:EntityReferenceOfWorkflowDescriptiongRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfMessage_RecipientgRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Message_Recipient" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfMessage_RecipientgRKRhBZ0" nillable="true" type="tns:EntityReferenceOfMessage_RecipientgRKRhBZ0" />
  <xs:complexType name="EntityReferenceOfMessageParticipantsgRKRhBZ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="MessageParticipants" Namespace="http://schemas.datacontract.org/2004/07/Incite.Entities.Instance" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfMessageParticipantsgRKRhBZ0" nillable="true" type="tns:EntityReferenceOfMessageParticipantsgRKRhBZ0" />
</xs:schema>